﻿@{
	ViewBag.Title = Resource.Clientes;

    //var create = CustomMembership.HasPermission("Cliente", (int)Enumerations.Permission.Create);
    //var edit = CustomMembership.HasPermission("Cliente", (int)Enumerations.Permission.Edit);
    //var delete = CustomMembership.HasPermission("Cliente", (int)Enumerations.Permission.Delete);
    var create = true;
    var edit = true;
    var delete = true;
}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)

    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/Cliente/list.js")"></script>
}

@Html.Partial("_ColumnCommandGridStandar", new ConfigStandarCommand
{
    UrlEdit = (edit ? Url.Action("ABMCliente") + "/{{:IdCliente}}" : ""),
    ActionDelete = (delete ? "Delete" : ""),
    ControllerDelete = (delete ? "Cliente" : ""),
    IdDelete = (delete ? "IdCliente" : ""),
    ButtonFilter = "btnSearch"
})

<div class="panel">
    <div class="panel-heading">
        @ViewBag.Title
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
		@if (create)
		{
			<a role="button" class="btn btn-primary btn-primary-new" href="@Url.Action("ABMCliente")">
				<span class="fa fa-file-o"></span>
				&nbsp; @Resource.Create @Resource.Clientes
			</a>
		}
    </div>
    <div class="panel-body" style="display: none;">
        <div class="row">
            <div class="@Bootstrap.formgroup col-sm-3">
                @Html.Label("", Resource.Nombre)
                @Html.TextBox("txtNombre", "", new { @id = "txtNombre", @class = Bootstrap.input })
            </div>
        </div>
        <div>
            <button id="btnSearch" type="button" class="btn btn-primary" data-loading-text="@Resource.Searching">
                <span class="fa fa-search"></span>
                &nbsp; @Resource.Search
            </button>
            <button id="btnRestore" type="button" class="btn btn-warning">
                <span class="fa fa-repeat"></span>
                &nbsp; @Resource.Restore
            </button>
        </div>
    </div>
</div>
@(Html.EJ().Grid<Cliente>("clienteGrid")
    .Datasource(d => d.URL(Url.Action("GetClientes")))
    .AllowPaging()   
    .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
    .Columns(col =>
    {
        col.Field("IdCliente").HeaderText("Id").IsPrimaryKey(true).Width(1).Add();
		col.Field("Nombre").HeaderText(Resource.Nombre).TextAlign(TextAlign.Left).Width(4).Add();
        col.Field("CUIT").HeaderText(Resource.CUIT).TextAlign(TextAlign.Left).Width(2).Add();
        col.Field("Domicilio").HeaderText(Resource.Domicilio).TextAlign(TextAlign.Left).Width(4).Add();
        //col.Field("TelefonoFijo").HeaderText(Resource.TelefonoFijo).TextAlign(TextAlign.Left).Width(3).Add();
        col.Field("TelefonoMovil").HeaderText(Resource.TelefonoMovil).TextAlign(TextAlign.Left).Width(3).Add();
        col.Field("Email").HeaderText(Resource.Email).TextAlign(TextAlign.Left).Width(4).Add();
        col.Field("LimiteDescubierto").HeaderText(Resource.LimiteDescubierto).TextAlign(TextAlign.Left).Width(3).Add();
        //col.Field("Clasificacion").HeaderText(Resource.Clasificacion).TextAlign(TextAlign.Left).Width(2).Add();
        col.HeaderText("")
            .Template(true)
            .TemplateID("#" + Constant.Partial.IDStandarTemplateCommand)
            .TextAlign(TextAlign.Center).Width(2).Add();
    })    
    )
<div id="clienteInfo" data-search-url="@Url.Action("GetClientes")">
</div>