﻿@{
    ViewBag.Title = Resource.VerCheque;
}

<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        <div>
            @Html.Label("Imagen Front", new { @class = Bootstrap.label })
        </div>
        <div class="row" style="text-align: center; border: solid 1px #000; margin-left: 0px;">
            <img id="imgCheque1" style="width: 100%;" src="~/UploadImages/Cheques/no-Imagen.png" />
        </div>
        <div>
            @Html.Label("Imagen Back", new { @class = Bootstrap.label })
        </div>
        <div class="row" style="text-align: center; border: solid 1px #000; margin-left: 0px;">
            <img id="imgCheque2" style="width: 100%" src="~/UploadImages/Cheques/no-Imagen.png" />
        </div>
        <hr />
        <div class="@Bootstrap.formgroup">
            <div class="col-lg-offset-3 col-lg-6">
                <button class="btn btn-danger" type="button" onclick="cancelPopUp()">@Resource.Cancel</button>
            </div>
        </div>
    </div>
     @Html.EJ().ScriptManager()
</section>
