﻿@model ChequeRechazado

@{
    ViewBag.Title = string.Format(Resource.Create, Resource.ChequeRechazado);
}


@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)
    @Scripts.Render(Constant.Bundle.Script_DateTimeFormat)
    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/ChequeRechazado/chequeRechazadoABM.js")"></script>
}

<script type="text/x-jsrender" id="template-command">
    <div class="btn-group">
        <a style="float:right" href="javascript:verChequeRechazado('{{:IdCheque}}')" role="button" class="btn btn-info btn-sm" title= "@Resource.VerCheque"><span class="fa fa-eye"></span></a>
    </div>
</script>

<div class="col-lg-12">
    <div class="panel panel-primary">
        <header class="panel-heading">
            @ViewBag.Title
        </header>
        <div class="panel-body">
            <div class="col-lg-9" style="padding: 0px; padding-right: 5px;">
                @using (Ajax.BeginForm("CreateChequeRechazado", "ChequeRechazado", null, new AjaxOptions
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnBegin = Constant.Ajax.JsOnBeginAjax,
            OnSuccess = "onSuccessSendChequeRechazado(data)"
        },
            new { @class = "cmxform form-horizontal", id = "form-arqueo", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.IdChequeRechazado)
                    <div class="form">
                        <div class="@Bootstrap.formgroup">
                            @Html.LabelFor(model => model.Fecha, new { @class = Bootstrap.label })
                            <div class="col-lg-3">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.TextBoxFor(model => model.Fecha, "{0:dd/MM/yyyy}", new { @class = Bootstrap.datepicker, @disabled = "disabled", @Value = DateTime.Now.ToShortDateString() })
                                </div>
                                @Html.ValidationMessageFor(model => model.Fecha)
                            </div>
                        </div>
                        <div class="@Bootstrap.formgroup">
                            @Html.LabelFor(model => model.Gasto, new { @class = Bootstrap.label })
                            <div class="col-lg-3">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.TextBoxFor(model => model.Gasto, new { @class = Bootstrap.input })
                                </div>
                                @Html.ValidationMessageFor(model => model.Gasto)
                            </div>
                        </div>
                        <div class="@Bootstrap.formgroup">
                            @Html.LabelFor(model => model.Motivo, new { @class = Bootstrap.label })
                            <div class="col-lg-6">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.TextAreaFor(p => p.Motivo, new { rows = "5", @class = Bootstrap.input, style = "width:100%;" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Motivo)
                            </div>
                        </div>
                        <div class="@Bootstrap.formgroup">
                            <div class="col-lg-offset-3 col-lg-6">
                                <button class="btn btn-primary" type="submit" id="btnSave" onclick="createChequeRechazado()">@Resource.Save</button>
                                <button class="btn btn-default" type="button" onclick="window.location = '@Url.Action("Index", "ChequeRechazado")'">@Resource.Volver</button>
                            </div>
                        </div>
                        @Html.Hidden("cheques")
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <header class="panel-heading">
            @Resource.SeleccionCheques
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="@Bootstrap.formgroup col-sm-3">
                    @Html.Label("", Resource.Numero)
                    @Html.TextBox("txtNumero", "", new { @id = "txtNumero", @class = Bootstrap.input })
                </div>
            </div>
            <div>
                <button id="btnSearch" type="button" class="btn btn-primary" data-loading-text="@Resource.Searching">
                    <span class="fa fa-search"></span>
                    &nbsp; @Resource.Search
                </button>
                <button id="btnRestore" type="button" class="btn btn-warning">
                    <span class="fa fa-repeat"></span>
                    &nbsp; @Resource.Restore
                </button>
            </div>
            <div class="col-lg-12" style="padding: 0px; padding-right: 5px;">
                @(Html.EJ().Grid<ViewCheque>("gridcheques")
                 .Datasource(d => d.URL(Url.Action("GetChequesByFilters", "ChequeRechazado")))
                 .AllowPaging()
                 .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
                 .Columns(col =>
                 {
                     col.Field("IdCheque").Visible(true).Width(10).Add();
                     col.Field("NombreBanco").HeaderText("Banco").TextAlign(TextAlign.Center).Width(10).Add();
                     col.Field("Numero").HeaderText("Nro").TextAlign(TextAlign.Center).Width(10).Add();
                     col.Field("Monto").Format("{0:C2}").HeaderText("Monto").Width(10).TextAlign(TextAlign.Right).Add();
                     col.Field("FechaVencimiento").Format("{0:dd/MM/yyyy HH:mm}").HeaderText("FechaVencimiento").Width(10).TextAlign(TextAlign.Right).Add();
                     col.Field("EstadoStr").HeaderText("Estado").Width(10).TextAlign(TextAlign.Center).Add();
                     col.Template(true).HeaderText("")
                        .TemplateID("#template-command")
                        .TextAlign(TextAlign.Center).Width(4).Add();
                     col.Template(true).HeaderText("")
                          .TemplateID("#txtValue")
                         .TextAlign(TextAlign.Center).Width(10).Add();
                 }).ClientSideEvents(eve => eve.QueryCellInfo("queryCellInfo"))
                )
                @Html.EJ().ScriptManager()
            </div>
        </div>
    </div>
</div>
<script type="text/x-jsrender" id="txtValue">
    <input type="radio" name="cheq" id="{{:IdCheque}}" value="{{:IdCheque}}" style="color: #000000;" />
</script>

<div id="chequeRechazadoinfo" data-search-url="@Url.Action("GetChequesByFilters", "ChequeRechazado")"></div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-imagen-cheque" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="grid-detalle-edit-popup">
                    @Html.Partial("~/Views/Cheque/ImagenCheque.cshtml", new ViewDataDictionary { { "PopUp", true } })
                </div>
            </div>
        </div>
    </div>
</div>
