﻿@{
    ViewBag.Title = Resource.ChequeRechazado;
}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)
    @Styles.Render(Constant.Bundle.Script_Caja)
<script type="text/javascript" src="@Url.Content("~/Scripts/Site/ChequeRechazado/chequeRechazado.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/Site/Reporte/report.js")"></script>
}


<script type="text/x-jsrender" id="template-command">
    <div class="btn-group">
        <a style="float:right" href="javascript:verChequeRechazado('{{:IdCheque}}')" role="button" class="btn btn-info btn-sm" title= "@Resource.Imprimir"><span class="fa fa-eye"></span></a>
    </div>
</script>

@Html.AntiForgeryToken()
<div class="panel">
    <div class="panel-heading">
        @ViewBag.Title
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
        <a role="button" class="btn btn-primary btn-primary-new" href="@Url.Action("ABMChequeRechazado")">
            <span class="fa fa-file-o"></span>
            &nbsp; @Resource.Create @Resource.ChequeRechazado
        </a>
    </div>
    <div class="panel-body" style="display: none;">
        <div class="row">
            <div class="@Bootstrap.formgroup col-sm-3">
                @Html.Label("", Resource.Banco)
                @Html.DropDownList("ddlBanco", ViewBag.Bancos as IEnumerable<SelectListItem>, new { @class = "form-control", style = "width:100%" })
            </div>
            <div class="@Bootstrap.formgroup col-sm-3">
                @Html.Label("", Resource.Numero)
                @Html.TextBox("txtNumero", "", new { @id = "txtNumero", @class = Bootstrap.input })
            </div>
        </div>
        <div>
            <button id="btnSearch" type="button" class="btn btn-primary" data-loading-text="@Resource.Searching">
                <span class="fa fa-search"></span>
                &nbsp; @Resource.Search
            </button>
            <button id="btnRestore" type="button" class="btn btn-warning">
                <span class="fa fa-repeat"></span>
                &nbsp; @Resource.Restore
            </button>
        </div>
    </div>
</div>
@(Html.EJ().Grid<ViewChequeRechazado>("chequesRechazados")
    .Datasource(d => d.URL(Url.Action("GetChequesRechazados")))
    .AllowPaging()
    .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
    .Columns(col =>
        {
            col.Field("IdChequeRechazado").HeaderText("Id").IsPrimaryKey(true).Visible(false).Add();
            col.Field("Numero").HeaderText("Nro").TextAlign(TextAlign.Left).Width(4).Add();
            col.Field("NombreBanco").HeaderText("Banco").TextAlign(TextAlign.Left).Width(3).Add();
            col.Field("Fecha").Format("{0:dd/MM/yyyy HH:mm}").HeaderText(Resource.Fecha).TextAlign(TextAlign.Left).Width(4).Add();
            col.Field("Motivo").HeaderText("Motivo").TextAlign(TextAlign.Left).Width(4).Add();
            col.Field("Gasto").Format("{0:C2}").HeaderText(Resource.Gasto).TextAlign(TextAlign.Right).Width(3).Add();
            col.Field("EstadoStr").HeaderText(Resource.Estado).TextAlign(TextAlign.Right).Width(3).Add();
            col.HeaderText("")
               .Template(true)
               .TemplateID("#template-command")
               .TextAlign(TextAlign.Center).Width(4).Add();

    }).ClientSideEvents(eve => eve.QueryCellInfo("queryCellInfo"))
)

<div id="chequeRechazadoinfo" 
    data-search-url="@Url.Action("GetChequesRechazados")"
	data-nombre-reporte="@Resource.ChequeRechazado">
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-imagen-cheque" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="grid-detalle-edit-popup">
                    @Html.Partial("~/Views/Cheque/ImagenCheque.cshtml", new ViewDataDictionary { { "PopUp", true } })
                </div>
            </div>
        </div>
    </div>
</div>