﻿@model Arqueo

@{
    ViewBag.Title = string.Format(Resource.Create, Resource.Arqueo);
}


@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)
    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/Arqueo/arqueodetalle.js")"></script>
    @Scripts.Render(Constant.Bundle.Script_DateTimeFormat)
}

<div class="col-lg-12">
    <div class="panel panel-primary">
        <header class="panel-heading">
           @ViewBag.Title
        </header>
        <div class="panel-body">
            <div class="col-lg-12" style="padding: 0px; padding-right: 5px;">
                @using (Ajax.BeginForm("CreateArqueo", "Arqueo", null, new AjaxOptions
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnBegin = Constant.Ajax.JsOnBeginAjax,
            OnSuccess = "onSuccessSendArqueo(data)"
        },
            new { @class = "cmxform form-horizontal", id = "form-arqueo", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.IdArqueo)
                    <div class="form">
                        <div class="@Bootstrap.formgroup">
                            @Html.LabelFor(model => model.Fecha, new { @class = Bootstrap.label })
                            <div class="col-lg-6">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.TextBoxFor(model => model.Fecha, "{0:dd/MM/yyyy}", new { @class = Bootstrap.datepicker, @disabled = "disabled", @Value = DateTime.Now.ToShortDateString() })
                                </div>
                                @Html.ValidationMessageFor(model => model.Fecha)
                            </div>
                        </div>
                        <div class="@Bootstrap.formgroup">
                            @Html.LabelFor(model => model.Descripcion, new { @class = Bootstrap.label })
                            <div class="col-lg-6">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.TextAreaFor(p => p.Descripcion, new { rows = "5", @class = "form-control", style = "width:100%;"})
                                </div>
                                @Html.ValidationMessageFor(model => model.Descripcion)
                            </div>
                        </div>
                        <div class="@Bootstrap.formgroup">
                            <div class="col-lg-offset-3 col-lg-6">
                                <button class="btn btn-primary" type="submit" id="btnSave" onclick="createArqueo()">@Resource.Save</button>
                                <button class="btn btn-default" type="button" onclick="cancelPopUp()">@Resource.Cancel</button>
                            </div>
                        </div>
                        @Html.Hidden("cheques");
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <header class="panel-heading">
            @Resource.SeleccionCheques
        </header>
        <div class="panel-body">
            <div class="col-lg-12" style="padding: 0px; padding-right: 5px;">
                @(Html.EJ().Grid<Cheque>("cheque")
    .Datasource(d => d.URL(Url.Action("GetChequesDisponiblesArqueo", "Cheque")))
    .AllowPaging()
    .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
    .Columns(col =>
    {
        col.Field("IdCheque").Visible(false).Add();
        col.Field("Numero").HeaderText("Nro").TextAlign(TextAlign.Center).Width(120).Add();
        col.Field("BancoStr").HeaderText("Banco").TextAlign(TextAlign.Center).Width(120).Add();
        col.Field("Monto").Format("{0:C2}").HeaderText("Importe").Width(100).TextAlign(TextAlign.Right).Add();
        col.Field("EstadoStr").HeaderText("Estado").Width(90).TextAlign(TextAlign.Center).Add();
        col.Template(true).HeaderText("")
             .TemplateID("#txtValue")
            .TextAlign(TextAlign.Center).Width(20).Add();
    }).ClientSideEvents(eve => eve.QueryCellInfo("queryCellInfo"))
)
                @Html.EJ().ScriptManager()
            </div>
        </div>
    </div>
</div>
<script type="text/x-jsrender" id="txtValue">
    <input type="checkbox" id="{{:IdCheque}}" value="{{:IdCheque}}" style="color: #000000;" />
</script>
