﻿@{
	ViewBag.Title = Resource.Bancos;

    //var create = CustomMembership.HasPermission("Banco", (int)Enumerations.Permission.Create);
    //var edit = CustomMembership.HasPermission("Banco", (int)Enumerations.Permission.Edit);
    //var delete = CustomMembership.HasPermission("Banco", (int)Enumerations.Permission.Delete);
    var create = true;
    var edit = true;
    var delete = true;
}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)

    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/Banco/list.js")"></script>
}

@Html.Partial("_ColumnCommandGridStandar", new ConfigStandarCommand
{
    UrlEdit = (edit ? Url.Action("ABMBanco") + "/{{:IdBanco}}" : ""),
    ActionDelete = (delete ? "Delete" : ""),
    ControllerDelete = (delete ? "Banco" : ""),
    IdDelete = (delete ? "IdBanco" : ""),
    ButtonFilter = "btnSearch"
})

<div class="panel">
    <div class="panel-heading">
        @ViewBag.Title
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
		@if (create)
		{
			<a role="button" class="btn btn-primary btn-primary-new" href="@Url.Action("ABMBanco")">
				<span class="fa fa-file-o"></span>
				&nbsp; @Resource.Create @Resource.BancoLower
			</a>
		}
    </div>
    <div class="panel-body" style="display: none;">
        <div class="row">
            <div class="@Bootstrap.formgroup col-sm-3">
                @Html.Label("", Resource.Nombre)
                @Html.TextBox("txtNombre", "", new { @id = "txtNombre", @class = Bootstrap.input })
            </div>
        </div>
        <div>
            <button id="btnSearch" type="button" class="btn btn-primary" data-loading-text="@Resource.Searching">
                <span class="fa fa-search"></span>
                &nbsp; @Resource.Search
            </button>
            <button id="btnRestore" type="button" class="btn btn-warning">
                <span class="fa fa-repeat"></span>
                &nbsp; @Resource.Restore
            </button>
        </div>
    </div>
</div>
@(Html.EJ().Grid<Banco>("bancoGrid")
    .Datasource(d => d.URL(Url.Action("GetBancos")))
    .AllowPaging()   
    .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
    .ClientSideEvents(events => events.ActionBegin("actionComplete"))
    .Columns(col =>
    {
		col.Field("IdBanco").HeaderText("Id").IsPrimaryKey(true).Width(1).Add();
		col.Field("Nombre").HeaderText(Resource.Nombre).TextAlign(TextAlign.Left).Width(4).Add();
        col.HeaderText("")
            .Template(true)
            .TemplateID("#" + Constant.Partial.IDStandarTemplateCommand)
            .TextAlign(TextAlign.Center).Width(1).Add();
    })    
    )
<div id="bancoInfo" data-search-url="@Url.Action("GetBancos")">
</div>