﻿@model Usuario

@{
    ViewBag.Title = string.Format(Resource.AsingnacionSucursal + " - Usuario: " + Model.NombreUsuario);
}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
}

@section ScriptSection
{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)

    <script src="@Url.Content("~/Scripts/Site/SucursalUsuario/am.js")"></script>
}

<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        @using (Ajax.BeginForm("AssignSucursal", "SucursalUsuario", null, new AjaxOptions
        {
            HttpMethod = Constant.Ajax.Post,
            InsertionMode = InsertionMode.Replace,
            OnBegin = Constant.Ajax.JsOnBeginAjax,
            OnSuccess = "onSuccessSendAssignSucursal(data)"
        },
        new { @class = "cmxform form-horizontal", id = "form-usuario-sucursales-operacion" }))
        {
            @Html.AntiForgeryToken()     
            @Html.HiddenFor(model => model.IdUsuario)          
            <div class="form">
                <div class="@Bootstrap.formgroup">
                    <div class="col-lg-12">
                        <div class="input-group m-bot15">
                            @(Html.EJ().Grid<Sucursal>("sucursalOperacionGrid")
                                .Datasource((List<MvcAppDCR.Model.Security.SucursalModel>)ViewBag.SucursalOperaciones)
                                .AllowPaging()
                                .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
                                .Columns(col =>
                                {
                                    col.Field("IdSucursal").Visible(false).Add();
                                    col.Field("EmpresaNombre").HeaderText("Empresa").Width(90).TextAlign(TextAlign.Center).Add();
                                    col.Field("Nombre").HeaderText("Sucursal").Width(90).TextAlign(TextAlign.Center).Add();
                                    col.Template(true).HeaderText("Permiso")
                                         .TemplateID("#chkTemplate")
                                        .TextAlign(TextAlign.Center).Width(35).Add();
                                }).ClientSideEvents(eve => eve.QueryCellInfo("queryCellInfo"))
                            )
                            @Html.EJ().ScriptManager()
                        </div>
                    </div>
                </div>
                <div class="@Bootstrap.formgroup">
                    <div class="col-lg-offset-3 col-lg-12">
                        <b>
                            <label class="error-label" id="@Constant.SuccessMessages.ERROR_VAR"></label>
                        </b>
                    </div>
                </div>
                <div class="@Bootstrap.formgroup">
                    <div class="col-lg-offset-4 col-lg-12">
                        <button class="btn btn-primary" type="submit" onclick="addSucursal()">@Resource.Save</button>
                        <button class="btn btn-default" type="button" onclick="window.location = '@Url.Action("Index", "Usuario")'">@Resource.Volver</button>
                    </div>
                </div>
            </div>    
            @Html.Hidden("sucursales")
        }
    </div>
</section>
<script type="text/x-jsrender" id="chkTemplate">
    <input type="checkbox" id="{{:IdSucursal}}" data-selected="{{:Selected}}" sucursaloperacion="true" class="row-header" />
</script>
