﻿@model FacturaCliente

@{
    ViewBag.Title = string.Format(Resource.ABMTitle, Resource.Clientes);
    ViewBag.PopUp = ViewData["PopUp"];
}

<section class="panel">
    @if (!ViewBag.PopUp)
    {
        <header class="panel-heading">
            @ViewBag.Title
        </header>
    }
    <div class="panel-body">
        @using (Ajax.BeginForm("ABMFacturaCliente", "FacturaCliente", null, new AjaxOptions
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnBegin = Constant.Ajax.JsOnBeginAjax,
            OnSuccess = !ViewBag.PopUp ? Constant.Ajax.JsOnSuccessAjax : "successPopUp"
        },
            new { @class = "cmxform form-horizontal", id = "form-cliente", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.IdFacturaCliente)
            <div class="form">
                <div class="@Bootstrap.formgroup">
                    @Html.LabelFor(model => model.Nombre, new { @class = Bootstrap.label })
                    <div class="col-lg-6">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">*</span>
                            @Html.TextBoxFor(model => model.Nombre, new { @class = Bootstrap.input })
                        </div>
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>
                </div>

                <div class="@Bootstrap.formgroup">
                    @Html.LabelFor(model => model.CUIT, new { @class = Bootstrap.label })
                    <div class="col-lg-6">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">*</span>
                            @Html.TextBoxFor(model => model.CUIT, new { @class = Bootstrap.input })
                        </div>
                        @Html.ValidationMessageFor(model => model.CUIT)
                    </div>
                </div>

                <div class="@Bootstrap.formgroup">
                    @Html.LabelFor(model => model.Domicilio, new { @class = Bootstrap.label })
                    <div class="col-lg-6">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">*</span>
                            @Html.TextBoxFor(model => model.Domicilio, new { @class = Bootstrap.input })
                        </div>
                        @*@Html.ValidationMessageFor(model => model.Domicilio)*@
                    </div>
                </div>

                <div class="@Bootstrap.formgroup">
                    @Html.LabelFor(model => model.TelefonoFijo, new { @class = Bootstrap.label })
                    <div class="col-lg-6">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">*</span>
                            @Html.TextBoxFor(model => model.TelefonoFijo, new { @class = Bootstrap.input })
                        </div>
                        @*@Html.ValidationMessageFor(model => model.TelefonoFijo)*@
                    </div>
                </div>

                <div class="@Bootstrap.formgroup">
                    @Html.LabelFor(model => model.TelefonoMovil, new { @class = Bootstrap.label })
                    <div class="col-lg-6">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">*</span>
                            @Html.TextBoxFor(model => model.TelefonoMovil, new { @class = Bootstrap.input })
                        </div>
                        @*@Html.ValidationMessageFor(model => model.TelefonoMovil)*@
                    </div>
                </div>

                <div class="@Bootstrap.formgroup">
                    @Html.LabelFor(model => model.Email, new { @class = Bootstrap.label })
                    <div class="col-lg-6">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">*</span>
                            @Html.TextBoxFor(model => model.Email, new { @class = Bootstrap.input })
                        </div>
                        @*@Html.ValidationMessageFor(model => model.Email)*@
                    </div>
                </div>
              
                <div class="@Bootstrap.formgroup">
                    <div class="col-lg-offset-3 col-lg-6">
                        <b>
                            <label class="error-label" id="@Constant.SuccessMessages.ERROR_VAR"></label>
                        </b>
                    </div>
                </div>
                <input type="hidden" id="popUp" name="popUp" value="@(ViewBag.PopUp.ToString())" />
                <hr />
                <div class="@Bootstrap.formgroup">
                    <div class="col-lg-offset-3 col-lg-6">
                        <button class="btn btn-primary" type="submit" id="btnSave">@Resource.Save</button>
                        <button class="btn btn-default" type="button" onclick="@(!ViewBag.PopUp ? ("window.location = '"+Url.Action("Index")+"';") : "cancelPopUp()")">@Resource.Cancel</button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
