﻿@model OperacionCaja

@{
    ViewBag.Title = string.Format(Resource.Create, Resource.Operacion);
}

<section class="panel">
           <header class="panel-heading">
            @ViewBag.Title
        </header>
    <div class="panel-body">
        @using (Ajax.BeginForm("CreateOperacionCaja", "Caja", null, new AjaxOptions
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnBegin = Constant.Ajax.JsOnBeginAjax,
            OnSuccess = "successPopUp",
            OnFailure = "handleError"
        },
            new { @class = "cmxform form-horizontal", id = "form-operacionCaja", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.IdOperacionCaja)
            @Html.HiddenFor(model => model.IdCaja)
            @Html.HiddenFor(model => model.TipoMovimiento)
            <div class="form">
                <div class="@Bootstrap.formgroup">
                    @Html.LabelFor(model => model.Fecha, new { @class = Bootstrap.label })
                    <div class="col-lg-6">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">*</span>
                            @Html.TextBoxFor(model => model.Fecha, "{0:dd/MM/yyyy}", new { @class = Bootstrap.datepicker, @disabled = "disabled", @Value =  DateTime.Now.ToShortDateString() })
                        </div>
                        @Html.ValidationMessageFor(model => model.Fecha)
                    </div>
                </div>
                <div class="@Bootstrap.formgroup">
                    @Html.LabelFor(model => model.Monto, new { @class = Bootstrap.label })
                    <div class="col-lg-6">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">*</span>
                            @Html.TextBoxFor(model => model.Monto, new { @class = Bootstrap.input, @onkeypress = "return ValidateOnlyNumber(event);" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Monto)
                    </div>
                </div>

                <div class="@Bootstrap.formgroup">
                    @Html.LabelFor(model => model.Descripcion, new { @class = Bootstrap.label })
                    <div class="col-lg-6">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">*</span>
                             @Html.TextAreaFor(p => p.Descripcion, new { rows = "5", @class = "form-control", style = "width:100%;" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Descripcion)
                    </div>
                </div>

                <div class="@Bootstrap.formgroup">
                    <div class="col-lg-offset-3 col-lg-6">
                        <b>
                            <label class="error-label" id="@Constant.SuccessMessages.ERROR_VAR"></label>
                        </b>
                    </div>
                </div>
                <hr />
                <div class="@Bootstrap.formgroup">
                    <div class="col-lg-offset-3 col-lg-6">
                        <button class="btn btn-primary" type="submit" id="btnSave">@Resource.Save</button>
                        <button class="btn btn-danger" type="button" onclick="cancelPopUp()">@Resource.Cancel</button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
