﻿@model  MvcAppDCR.Model.Entities.PagoClienteModel
@{
    Layout = null;

}
<div class="panel-body">
    @using (Ajax.BeginForm("PagoCliente", "CuentaCorriente", null, new AjaxOptions
    {
        HttpMethod = Constant.Ajax.Post,
        InsertionMode = InsertionMode.Replace,
        OnBegin = Constant.Ajax.JsOnBeginAjax,
        OnSuccess = "successAjaxPago"
    },
            new { @class = "cmxform form-horizontal", id = "form-perfil" }))
    {
        @Html.AntiForgeryToken()
        <div class="form">
            <div class="@Bootstrap.formgroup">
                @Html.LabelFor(model => model.IdCliente, new { @class = Bootstrap.label })
                <div class="col-lg-8">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">*</span>
                        @(Html.EJ().Autocomplete("acCliente")
                            .ShowEmptyResultText()
                            .AllowAddNew(false)
                            .Datasource(u => u.URL(Url.Action("AutocompleteClientes", "AutoComplete") + "?take=30&insertarIndistinto=true&"))
                            .AutocompleteFields(f => f.Text("Text").Key("Value"))
                            .EnableAutoFill()
                            .CaseSensitiveSearch(false)
                            .ClientSideEvents(e => e.Select("autocompleteClientSelectEvent").FocusOut("autocompleteClientLostFocustEvent"))
                            .FilterType(FilterOperatorType.Contains)
                            .HighlightSearch()
                            .MultiSelectMode(MultiSelectModeTypes.None)
                            .Width("100%"))
                        @Html.HiddenFor(model => model.IdCliente)
                    </div>
                    @Html.ValidationMessageFor(model => model.IdCliente)
                </div>
            </div>
            <div class="@Bootstrap.formgroup">
            </div>
            <div class="@Bootstrap.formgroup">
                @Html.Label("label-saldo-title", "Saldo: ", new { @class = Bootstrap.label })
                <div class="col-lg-6">
                    <div class="input-group m-bot15">
                        @Html.Label("label-saldo", "$0", new { id = "label-saldo", style = "font-size: x-large;" })
                    </div>

                </div>
            </div>
            <div class="@Bootstrap.formgroup">
                @Html.LabelFor(model => model.Importe, new { @class = Bootstrap.label })
                <div class="col-lg-6">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">*</span>
                        @Html.TextBoxFor(model => model.Importe, new { @class = "form-control", type = "number" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Importe)
                </div>
            </div>
            <div class="@Bootstrap.formgroup">
                @Html.LabelFor(model => model.Tipo, new { @class = Bootstrap.label })
                <div class="col-lg-6">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">*</span>
                        @Html.DropDownListFor(model => model.Tipo, ViewBag.Tipo as IEnumerable<SelectListItem>, new { @class = Bootstrap.input })
                    </div>
                    @Html.ValidationMessageFor(model => model.Tipo)
                </div>
            </div>
            <div class="@Bootstrap.formgroup">
                <div class="col-lg-offset-3 col-lg-6">
                    <button class="btn btn-primary" type="submit" onclick="return validateInfo()">@Resource.Save</button>
                    <button class="btn btn-default" type="button" onclick="backCliente(); return false;">@Resource.Cancel</button>
                </div>
            </div>
        </div>
    }
</div>
<script>

    function successAjaxPago(data) {
        hideOverlay();
        if (data.success) {
            backCliente();
            showComprobante(data.id);
        }
        else {
            popupError(null, data.msg);
        }
    }

    function showComprobante(id) {
        $.ajax({
            url: '/CuentaCorriente/PrintComprobante',
            type: "GET",
            dataType: "html",
            data: { idoperacion: encodeURI(id) },
            cache: false,
            success: function (data) {
                var printWindow = window.open('', '', 'height=400,width=800');
                printWindow.document.write(data);
                printWindow.document.close();
                printWindow.print();
                printWindow.close();
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            }
        });

    }

    function validateInfo() {
        if (tmpclient == "") {
            popupError(null, "Complete los campos obligatorios.");
            return false;
        }
        if (saldo < parseFloat($("#Importe").val()) && $("#Tipo").val() == "1") {
            popupError(null, "El importe deber ser menor al saldo");
            return false;
        }

        if (parseFloat($("#Importe").val()) <= 0) {
            popupError(null, "El importe deber ser un número positivo");
            return false;
        }

        return true;
    }
    var saldo = 0;
    var tmpclient = "";

    function autocompleteClientSelectEvent(args) {
        $("#IdCliente").val(args.key);
        tmpclient = args.value;
        getSaldo();
    }

    function autocompleteClientLostFocustEvent(args) {
        if (args.value !== tmpclient) {
            $("#IdCliente").val("");
            $("#acCliente").val("");
            tmpclient = "";
            saldo = 0;
            $("#label-saldo").text("$0");

        }
    }


    function getSaldo() {
        if ($('#IdCliente').val() != "") {
            showOverlay();
            $.ajax({
                url: "/CuentaCorriente/Saldo",
                data: JSON.stringify(
                {
                    idCliente: $('#IdCliente').val()
                }),
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    hideOverlay();
                    if (data.success) {
                        saldo = parseFloat(data.importe.toFixed(2));
                        $("#label-saldo").text("$" + data.importe.toFixed(2));
                        if (saldo < 0) {
                            $("#label-saldo").css("color", "red");
                        } else {
                            $("#label-saldo").css("color", "#767676");
                        }
                    }
                    else {
                        $("#label-saldo").text("Saldo: $-");
                        saldo = 0;
                        popupError(null, data.msg);
                        $("#label-saldo").css("color", "#767676");
                    }
                },
                error: function () {
                    hideOverlay();
                    popupError(null, "Hubo un error en la operación");
                }
            });
        }
    }

    function backCliente() {
        $("#IdCliente").val("");
        tmpclient = "";
        $("#label-saldo").text("$0");
        $("#acCliente").val("");
        $("#label-saldo").css("color", "#767676");
        $("#modal-cliente").modal("hide");
    }
</script>
