﻿@model MvcAppDCR.Code.Grid.Config.ConfigStandarCommand

<script type="text/x-jsrender" id="@Constant.Partial.IDStandarTemplateCommand">
    <div class="btn-group">


        @if (!string.IsNullOrEmpty(Model.ActionDelete))
    {
        using (@Ajax.BeginForm(Model.ActionDelete, Model.ControllerDelete, null, new AjaxOptions { OnBegin = Constant.Ajax.JsOnBeginAjax, HttpMethod = Constant.Ajax.Post, OnSuccess = "deleteResult(data, '#" + Model.ButtonFilter + "')" }, new { id = "fr_{{:" + Model.IdDelete + "}}", style = "float:left" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="Id" name="Id" value="{{:@Model.IdDelete}}" />
            <button onclick="confirm('Eliminar', '¿Está seguro que desea eliminar el registro seleccionado?',deleteRegister,{form:'#fr_{{:@Model.IdDelete + }}',id:'@Model.IdDelete',grid:'#@Model.Grid',record:{@Model.IdDelete:{{:@Model.IdDelete + }}}});" type="button" class="btn btn-danger btn-sm" title="Eliminar">
                <span class="fa fa-ban"></span>
            </button>
    }
}
        @if (!string.IsNullOrEmpty(Model.CustomeTemplate))
    {
        @Html.Raw(Model.CustomeTemplate)
}
        @if (!string.IsNullOrEmpty(Model.UrlEdit))
    {
        <a href="@Model.UrlEdit" role="button" class="btn btn-primary btn-sm" title="Editar">
            <span class="fa fa-pencil"></span>
        </a>
}
        @if (!string.IsNullOrEmpty(Model.ActionEstado))
    {
        using (@Ajax.BeginForm(Model.ActionEstado, Model.ControllerEstado, null, new AjaxOptions { OnBegin = Constant.Ajax.JsOnBeginAjax, HttpMethod = Constant.Ajax.Post, OnSuccess = "deleteResult(data, '#" + Model.ButtonFilter + "')" }, new { id = "fr_{{:" + Model.IdDelete + "}}", style = "float:right" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="Id" name="Id" value="{{:@Model.IdDelete}}" />
            <button onclick="confirm('Cambiar Estado', '¿Está seguro que desea Rechazar el Cheque Seleccionado?',deleteRegister,{form:'#fr_{{:@Model.IdDelete + }}',id:'@Model.IdDelete',grid:'#@Model.Grid',record:{@Model.IdDelete:{{:@Model.IdDelete + }}}});" type="button" class="btn btn-danger btn-sm" title="Rechazar Cheque">
                <span class="fa fa-ban"></span>
            </button>}
}



        <button onclick="VerDesembolsos({{:@Model.IdDelete}});" type="button" class="btn btn-muted btn-sm" title="Ver Desembolso">
            <span class="fa fa-search"></span>
        </button>




        <button onclick="VerCobros({{:@Model.IdDelete}});" type="button" class="btn btn-default btn-sm" title="Ver Cobros">
            <span class="fa fa-search-plus"></span>
        </button>


        <button onclick="CargarDesembolso({{:@Model.IdDelete}});" type="button" class="btn btn-warning btn-sm" title="Cargar Desembolso">
            <span class="fa fa-usd"></span>
        </button>



        <input type="hidden" id="Id" name="Id" value="{{:@Model.IdDelete}}" />
        <button onclick="CargarCobros({{:@Model.IdDelete}});" type="button" class="btn btn-success btn-sm" title="Cargar Cobros">
            <span class="fa fa-check-square"></span>

        </button>

        <input type="hidden" id="Id" name="Id" value="{{:@Model.IdDelete}}" />
        <button onclick="VerFactura({{:@Model.IdDelete}});" type="button" class="btn btn-info btn-sm" title="Ver Factura">
            <span class="fa fa-file"></span>

        </button>



        @*@if (Model.IdEstadoOperacion == "1")
        {*@
        {{if @Model.IdEstadoOperacion === 1}}
        <input type="hidden" id="Id" name="Id" value="{{:@Model.IdDelete}}" />
        <button onclick="ImprimirComprobante({{:@Model.IdDelete}});" type="button" class="btn btn-info btn-sm" title="Imprimir Comprobante Previo">
            <span class="fa fa-print"></span>

        </button>
        {{/if}}
        @*}*@
        {{if @Model.IdEstadoOperacion === 2}}
        <input type="hidden" id="Id" name="Id" value="{{:@Model.IdDelete}}" />
        <button onclick="ImprimirComprobanteAprobado({{:@Model.IdDelete}});" type="button" class="btn btn-info btn-sm" title="Imprimir Comprobante Aprobado">
            <span class="fa fa-print"></span>

        </button>
        {{/if}}


        {{if @Model.IdEstadoOperacion === 3}}
        <input type="hidden" id="Id" name="Id" value="{{:@Model.IdDelete}}" />
        <button onclick="ImprimirComprobanteTerminado({{:@Model.IdDelete}});" type="button" class="btn btn-info btn-sm" title="Imprimir Comprobante Terminado">
            <span class="fa fa-print"></span>

        </button>
        {{/if}}

        <button onclick="CargarTasas({{:@Model.IdDelete}});" type="button" class="btn btn-success btn-sm" title="Cargar Tasas">
            <span class="fa fa-circle"></span>

        </button>

        <button onclick="VerTasas({{:@Model.IdDelete}});" type="button" class="btn btn-danger btn-sm" title="Ver Tasas">
            <span class="fa fa-search-plus"></span>
        </button>


        <button onclick="AvanceOperacion({{:@Model.IdDelete}});" type="button" class="btn btn-warning btn-sm" title="Ver Avance Operación">
            <span class="fa fa-search-plus"></span>
        </button>

    </div>
</script>