﻿@model MvcAppDCR.Code.Grid.Config.ConfigStandarCommand

<script type="text/x-jsrender" id="@Constant.Partial.IDStandarTemplateCommand">
    <div class="btn-group">
		@if (!string.IsNullOrEmpty(Model.ActionDelete))
		{
			using (@Ajax.BeginForm(Model.ActionDelete, Model.ControllerDelete, null, new AjaxOptions { OnBegin = Constant.Ajax.JsOnBeginAjax, HttpMethod = Constant.Ajax.Post, OnSuccess = "deleteResult(data, '#" + Model.ButtonFilter + "')" }, new { id = "fr_{{:" + Model.IdDelete + "}}", style = "float:right" }))
			{   
				@Html.AntiForgeryToken()                 
				<input type="hidden" id="Id" name="Id" value="{{:@Model.IdDelete}}" />
				<button onclick="confirm('Eliminar', '¿Está seguro que desea eliminar el registro seleccionado?',deleteRegister,{form:'#fr_{{:@Model.IdDelete + }}',id:'@Model.IdDelete',grid:'#@Model.Grid',record:{@Model.IdDelete:{{:@Model.IdDelete + }}}});" type="button"  class="btn btn-danger btn-sm" title="Eliminar">
					<span class="fa fa-ban"></span>
				</button>
			}
		}
        @if (!string.IsNullOrEmpty(Model.CustomeTemplate))
        {
            @Html.Raw(Model.CustomeTemplate)
        }
		@if (!string.IsNullOrEmpty(Model.UrlEdit))
		{
			<a href="@Model.UrlEdit" role="button" style="float:right" class="btn btn-primary btn-sm" title="Editar">
				<span class="fa fa-pencil"></span>
			</a>
		}
        @if (!string.IsNullOrEmpty(Model.ActionEstado))
        {
            using (@Ajax.BeginForm(Model.ActionEstado, Model.ControllerEstado, null, new AjaxOptions { OnBegin = Constant.Ajax.JsOnBeginAjax, HttpMethod = Constant.Ajax.Post, OnSuccess = "deleteResult(data, '#" + Model.ButtonFilter + "')" }, new { id = "fr_{{:" + Model.IdDelete + "}}", style = "float:right" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" id="Id" name="Id" value="{{:@Model.IdDelete}}" />
                <button onclick="confirm('Cambiar Estado', '¿Está seguro que desea Rechazar el Cheque Seleccionado?',deleteRegister,{form:'#fr_{{:@Model.IdDelete + }}',id:'@Model.IdDelete',grid:'#@Model.Grid',record:{@Model.IdDelete:{{:@Model.IdDelete + }}}});" type="button" class="btn btn-danger btn-sm" title="Rechazar Cheque">
                    <span class="fa fa-ban"></span>
                </button>}
        }

        @Html.AntiForgeryToken()
        <button onclick="javascript:UploadModal('@Model.IdDelete','/Inversor/Upload')" type="button" class="btn btn-primary btn-sm" title="Adjuntar">
            <span class="fa fa-paperclip"></span>
        </button>

    </div>
</script>