﻿@{
	ViewBag.Title = Resource.Perfiles;

	//var create = CustomMembership.HasPermission("Perfil", (int)Enumerations.Permission.Create);
	//var edit = CustomMembership.HasPermission("Perfil", (int)Enumerations.Permission.Edit);
	//var delete = CustomMembership.HasPermission("Perfil", (int)Enumerations.Permission.Delete);
    var create = true;
    var edit = true;
    var delete = true;
}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)

    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/Perfil/list.js")"></script>
}

@Html.Partial("_ColumnCommandGridStandar", new ConfigStandarCommand
{
    UrlEdit = (edit ? Url.Action("ABMPerfil") + "/{{:IdPerfil}}" : ""),
    ActionDelete = (delete ? "Delete" : ""),
    ControllerDelete = (delete ? "Perfil" : ""),
    IdDelete = (delete ? "IdPerfil" : ""),
    ButtonFilter = "btnSearch",})

<div class="panel">
    <div class="panel-heading">
        @ViewBag.Title
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
		@if (create)
		{
			<a role="button" class="btn btn-primary btn-primary-new" href="@Url.Action("ABMPerfil")">
				<span class="fa fa-file-o"></span>
				&nbsp; @Resource.Create @Resource.PerfilLower
			</a>
		}
    </div>
    <div class="panel-body" style="display: none;">
        <div class="row">
            <div class="@Bootstrap.formgroup col-sm-3">
                @Html.Label("", Resource.Nombre)
                @Html.TextBox("txtNombre", "", new { @id = "txtNombre", @class = Bootstrap.input, @maxlength = "50" })
            </div>
        </div>
        <div>
            <button id="btnSearch" type="button" class="btn btn-primary" data-loading-text="@Resource.Searching">
                <span class="fa fa-search"></span>
                &nbsp; @Resource.Search
            </button>
            <button id="btnRestore" type="button" class="btn btn-warning">
                <span class="fa fa-repeat"></span>
                &nbsp; @Resource.Restore
            </button>
        </div>
    </div>
</div>
@(Html.EJ().Grid<Perfil>("perfilGrid")
    .Datasource(d => d.URL(Url.Action("GetPerfiles")))
    .AllowPaging()
    .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
    .ClientSideEvents(events => events.ActionBegin("actionComplete"))
    .Columns(col =>
    {
        col.Field("IdPerfil").HeaderText("Id").IsPrimaryKey(true).Width(1).Add();
		col.Field("Nombre").HeaderText(Resource.Nombre).TextAlign(TextAlign.Left).Width(4).Add();
        col.HeaderText("")
            .Template(true)
            .TemplateID("#" + Constant.Partial.IDStandarTemplateCommand)
            .TextAlign(TextAlign.Center).Width(2).Add();
    })
    )
<div id="perfilInfo" data-search-url="@Url.Action("GetPerfiles")">
</div>