
ul#clock li {
    border: none;
}

#clock {
    position: relative;
    width: 185px;
    height: 185px;
    margin: -75px auto 0;
    background: url(../images/clockface.png) no-repeat;
    list-style: none;
}

#sec, #min, #hour {
    position: absolute;
    width: 15px;
    height: 185px;
    top: 0px;
    left: 83px;
}

#sec {
    background: url(../images/sechand.png);
    z-index: 3;
    overflow: hidden;
}

#min {
    background: url(../images/minhand.png);
    z-index: 2;
}

#hour {
    background: url(../images/hourhand.png);
    z-index: 1;
}

#footer-clock {
    height: 40px;
    background-color: rgb(78, 71, 66);
    margin-top: 30px;
}

#timeclock {
    font-size: 70px;
    margin-top: 25px;
}
