﻿<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="reportModal" class="modal fade">
    <div class="modal-dialog" style="width: 80%">
        <div class="modal-content" style="height: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
                </button>
                <h4 class="modal-title">
					@Resource.Report
                </h4>
            </div>
			<div class="modal-body" style="height: 80%;">
				<div id="divIframeReportModal" style="width: 100%; height: 100%;">
				</div>
			</div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">
					@Resource.Close
                </button>
            </div>
        </div>
    </div>
</div>
<div id="divDownloadFileFrame" style="display: none;">
</div>