﻿@{
    ViewBag.Title = "Resumen de Inversiones";
    Layout = MvcAppDCR.Code.Constant.Layout.Master;
}
@section HeadSection{
    <link href="~/Content/Template/css3clock/css/style.css" rel="stylesheet" />
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
}

@section ScriptSection
{
    <script src="~/Content/Template/css3clock/js/script.js"></script>
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)

    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/ProyeccionFinanciera/proyeccionFinanciera.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/Reporte/report.js")"></script>
}


@if (CurrentContext.SessionContext.Perfil == Luma.Utils.Enumeraciones.Perfil.TipoPerfil.Inversor)
{
    <div class="panel">
        <div class="panel-heading">
            @ViewBag.Title
        </div>



        <div class="panel-body">
            

            <div class="row">
                <div class="@Bootstrap.formgroup col-lg-1">
                   Nombre:                
                </div>
                <div class="@Bootstrap.formgroup col-lg-3">
                    @CurrentContext.SessionContext.UsuarioActual.Nombre
                </div>

            </div>

            <div class="row">
                <div class="@Bootstrap.formgroup col-lg-1">
                    Cuentas:
                </div>
                <div class="@Bootstrap.formgroup col-lg-2">
                    @Html.DropDownList("IdCuentaCorrienteInversor", (List<SelectListItem>)ViewBag.CuentaCorriente, new { @id = "ddlComponeAElemento", @class = Bootstrap.input })

                </div>
            </div>

            <br />
            <br />


            <div>
                <button id="btnSearchHome" type="button" class="btn btn-primary" data-loading-text="@Resource.Searching" onclick="BuscarDetalle();">
                    <span class="fa fa-search"></span>
                    &nbsp; @Resource.Search
                </button>               
                <button id="btnDescargarContrato" type="button" class="btn btn-danger" onclick="DescargarContrato();">
                    <span class="fa fa-file-pdf-o"></span>
                    &nbsp; @Resource.DescargarContrato
                </button>

                
            </div>
        </div>
    </div>

    @(Html.EJ().Grid<Domine.Dto.DtoProyeccionFinanciera>("ProyeccionFinancieraGrid")
            .Datasource(d => d.URL(Url.Action("GetProyeccion")))
            .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
            .AllowPaging(false)
            .ClientSideEvents(eve => eve.QueryCellInfo("querycellinfo"))
            .Columns(col =>
            {
                col.Field("Fecha").Format("{0:dd/MM/yyyy}").HeaderText("Fecha").TextAlign(TextAlign.Left).Width(3).Add();
                col.Field("Ingreso").Format("{0:C2}").HeaderText("Crédito").TextAlign(TextAlign.Left).Width(3).Add();
                col.Field("Egreso").Format("{0:C2}").HeaderText("Débito").TextAlign(TextAlign.Left).Width(3).Add();
                col.Field("TasaInteres").Format("{0:P3}").HeaderText("Tasa Diaria").TextAlign(TextAlign.Left).Width(3).Add();
                col.Field("Intereses").Format("{0:C2}").HeaderText("Interes Diario").TextAlign(TextAlign.Left).Width(3).Add();
                col.Field("Impuestos").Format("{0:C2}").HeaderText("Impuestos").TextAlign(TextAlign.Left).Width(3).Add();
                col.Field("Gastos").Format("{0:C2}").HeaderText("Gastos").TextAlign(TextAlign.Left).Width(3).Add();
                col.Field("Multas").Format("{0:C2}").HeaderText("Multas").TextAlign(TextAlign.Left).Width(3).Add();
                col.Field("Total").Format("{0:C2}").HeaderText("Total").TextAlign(TextAlign.Left).Width(3).Add();
                col.Field("Saldo").Format("{0:C2}").HeaderText("Saldo Final").TextAlign(TextAlign.Left).Width(3).Add();
            })


    )
    <div id="proyeccionFinancieraInfo"
         data-search-url="@Url.Action("GetProyeccion")"
         data-report-url="@Url.Action("ReporteCuentaCorriente")"
         data-print-url="@Url.Action("GetContrato")"
         data-nombre-reporte="@Resource.ReporteCuentaCorriente">
    </div>
}

<div id="divDownloadFileFrame" style="visibility:hidden"></div>