﻿@model Domine.Dto.DtoOperacionInversor

@{
    ViewBag.Title = "Extracion de Fondos";
    ViewBag.PopUp = ViewData["PopUp"];
}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)

}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)
    @Scripts.Render(Constant.Bundle.Script_ExtraccionFondos)
    @Scripts.Render(Constant.Bundle.Script_Autocomplete)
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Site/Reporte/report.js")"></script>

<section class="panel">
    @if (!ViewBag.PopUp)
    {
        <header class="panel-heading">
            @ViewBag.Title
        </header>
    }
    <div class="panel-body">

        @using (Ajax.BeginForm("ExtraccionFondos", "ExtraccionFondos", new AjaxOptions
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnBegin = "onBegin",
            OnSuccess = "onSuccess(data)",
            OnFailure = "onFailure"
        },
            new { @class = "cmxform form-horizontal", id = "form-banco", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            <div class="form">
                <div class="col-lg-12" style="padding-bottom:5px">
                    <label class="col-lg-2 col-sm-2 control-label">Inversor</label>
                    <div class=col-md-6>
                        @(Html.EJ().Autocomplete("acInversor")
                                    .CssClass("Bootstrap.label")
                                    .ShowEmptyResultText()
                                    .AllowAddNew(false)
                                    .Datasource(u => u.URL(Url.Action("AutocompleteInversor", "AutoComplete") + "?take=30&insertarIndistinto=true&"))
                                    .AutocompleteFields(f => f.Text("Text").Key("Value"))
                                    .EnableAutoFill()
                                    .CaseSensitiveSearch(false)
                                    .ClientSideEvents(e => e.Select("autocompleteInversorSelectEvent").FocusOut("autocompleteClientLostFocustEvent"))
                                    .FilterType(FilterOperatorType.Contains)
                                    .HighlightSearch()
                                    .MultiSelectMode(MultiSelectModeTypes.None)
                                    .Width("100%"))
                        @Html.Hidden("IdInversor", "", new { name = "IdInversor" })
                    </div>
                    @*<div class=col-md-2>
                        <button class="btn btn-primary" onclick="createInversor(); return false;">+</button>
                    </div>*@
                </div>

                <div class="col-lg-12">
                    @Html.Label(Resource.CuentaCorriente, new { @class = Bootstrap.label + " col-lg-2 col-sm-2" })
                    <div class="col-lg-6">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">*</span>
                            @Html.DropDownListFor(model => model.IdCuentaCorrienteInversor, Enumerable.Empty<SelectListItem>(), Resource.SeleccionCuenta, new { @class = Bootstrap.input })

                        </div>
                        @Html.ValidationMessageFor(model => model.IdCuentaCorrienteInversor)
                    </div>
                </div>

                <div class="col-lg-12">
                    @Html.LabelFor(model => model.Monto, new { @class = Bootstrap.label + " col-lg-2 col-sm-2" })
                    <div class="col-lg-6">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">*</span>
                            @Html.TextBoxFor(model => model.Monto, "{0:0.00}", new { @class = Bootstrap.input, type = "number"  })
                        </div>
                        @Html.ValidationMessageFor(model => model.Monto)
                    </div>
                </div>

                <div class="col-lg-12">
                    @Html.LabelFor(model => model.Observacion, new { @class = Bootstrap.label + " col-lg-2 col-sm-2" })
                    <div class="col-lg-6">
                        <div class="input-group m-bot15">
                            @Html.TextAreaFor(model => model.Observacion, 10, 55, new { @class = Bootstrap.input })
                        </div>
                        @Html.ValidationMessageFor(model => model.Observacion)
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="col-lg-offset-3 col-lg-6">
                        <b>
                            <label class="error-label" id="@Constant.SuccessMessages.ERROR_VAR"></label>
                        </b>
                    </div>
                </div>
                <input type="hidden" id="popUp" name="popUp" value="@(ViewBag.PopUp.ToString())" />
                <hr />
                <div class="@Bootstrap.formgroup">
                    <div class="col-lg-offset-3 col-lg-6">
                        <button class="btn btn-primary" type="submit" id="btnSave">EXTRAER</button>
                        <button class="btn btn-default" type="button" onclick="@(!ViewBag.PopUp ? ("window.location = '" + Url.Action("../Home") + "';") : "cancelPopUp()")">@Resource.Cancel</button>
                    </div>
                </div>
            </div>
        }

    </div>

    @*<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-inversor-edit" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">@Resource.Inversores</h4>
                </div>
                <div class="modal-body">
                    <div id="grid-detalle-edit-popup">
                        @Html.Partial("~/Views/Inversor/ABMInversor.cshtml", new Inversor(), new ViewDataDictionary { { "PopUp", true } })
                    </div>
                </div>
            </div>
        </div>
    </div>*@

</section>

<div id="extraccionFondosInfo"
     data-report-url="@Url.Action("GenerarReporteExtraccion")"
     data-nombre-reporte="Reporte Extraccion de Fondos">
</div>
