﻿
@model Negociacion

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
    @Styles.Render(Constant.Bundle.CSS_Operaciones)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)
    @Scripts.Render(Constant.Bundle.Script_DateTimeFormat)
    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/Negociacion/negociacion.js")"></script>
}

<script type="text/x-jsrender" id="template-command">
    <div class="btn-group">
        <a style="float:right" href="javascript:DeleteChequeSeleccionado('{{:Id}}')" role="button" class="btn btn-info btn-sm" title="@Resource.Delete"><span class="fa fa-minus-square status statusRed"></span></a>
    </div>
</script>

<div class="col-lg-12">
    <div class="panel panel-primary">
        <header class="panel-heading">
            @ViewBag.Title
        </header>
        <div class="panel-body">
            <div class="col-lg-9" style="padding: 0px; padding-right: 5px;">
                @using (Ajax.BeginForm("CreateNegociacion", "Negociacion", null, new AjaxOptions
                {
                    HttpMethod = "Post",
                    InsertionMode = InsertionMode.Replace,
                    OnBegin = Constant.Ajax.JsOnBeginAjax,
                    OnSuccess = "onSuccessSendChequeRechazado(data)"
                },
        new { @class = "cmxform form-horizontal", id = "form-arqueo", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                   // @Html.HiddenFor(model => model.IdChequeRechazado)
                    <div class="form">
                        <div class="@Bootstrap.formgroup">
                            @Html.LabelFor(model => model.Fecha, new { @class = Bootstrap.label })
                            <div class="col-lg-3">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.TextBoxFor(model => model.Fecha, "{0:dd/MM/yyyy}", new { @class = Bootstrap.datepicker, @disabled = "disabled", @Value = DateTime.Now.ToShortDateString() })
                                </div>
                                @Html.ValidationMessageFor(model => model.Fecha)
                            </div>
                        </div>
                        <div class="@Bootstrap.formgroup">                            
                            @Html.Label(Resource.TipoNegociacion,new { @class = Bootstrap.label})
                            <div class="col-lg-3">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.DropDownListFor(model=> model.IdTipoOperacion, ViewBag.TipoOperacion as IEnumerable<SelectListItem>, new { @class = "form-control", style = "width:100%", @onchange="seleccionarTipoNegociacion(this);" })
                                    
                                </div>
                                @Html.ValidationMessageFor(model => model.IdTipoOperacion)
                            </div>
                        </div>

                        <div class="@Bootstrap.formgroup" id="divBanco">
                            @Html.Label(Resource.Banco, new { @class = Bootstrap.label })
                            <div class="col-lg-3">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.DropDownListFor(model => model.IdBanco, ViewBag.Bancos as IEnumerable<SelectListItem>, new { @class = "form-control", style = "width:100%" })

                                </div>
                                @Html.ValidationMessageFor(model => model.IdBanco)
                            </div>
                        </div>

                        <div class="@Bootstrap.formgroup" id="divMayorista" hidden="hidden">
                            @Html.Label(Resource.Mayorista, new { @class = Bootstrap.label })
                            <div class="col-lg-3">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.DropDownListFor(model => model.IdMayorista, ViewBag.Mayorista as IEnumerable<SelectListItem>, new { @class = "form-control", style = "width:100%" })

                                </div>                                
                            </div>
                        </div>

                        <div class="@Bootstrap.formgroup" id="divProveedor" hidden="hidden">
                            @Html.Label(Resource.Proveedor, new { @class = Bootstrap.label })
                            <div class="col-lg-3">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.DropDownListFor(model => model.IdProveedor, ViewBag.Proveedor as IEnumerable<SelectListItem>, new { @class = "form-control", style = "width:100%" })

                                </div>                                
                            </div>
                        </div>





                        <div class="@Bootstrap.formgroup">
                            @Html.LabelFor(model => model.Observacion, new { @class = Bootstrap.label })
                            <div class="col-lg-6">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.TextAreaFor(p => p.Observacion, new { rows = "5", @class = Bootstrap.input, style = "width:100%;" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Observacion)
                            </div>
                        </div>
                        <div class="@Bootstrap.formgroup">
                            <div class="col-lg-offset-3 col-lg-6">
                                <button class="btn btn-primary" type="submit" id="btnSave" onclick="createChequeRechazado()">@Resource.Save</button>
                                <button class="btn btn-default" type="button" onclick="window.location = '@Url.Action("Index", "Negociacion")'">@Resource.Volver</button>
                            </div>
                        </div>
                        @Html.Hidden("cheques")
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <header class="panel-heading">
            @Resource.SeleccionCheques

            

        </header>
        <div class="panel-body">
           
            <div>
                <button id="btnSeleccionarCheque" type="button" class="btn btn-primary" data-loading-text="@Resource.SeleccionCheques" onclick="SeleccionarCheque();">
                    <span class="fa fa-search"></span>
                    &nbsp; @Resource.Search
                </button>
               
            </div>
            <br />

            <div class="col-lg-12" style="padding: 0px; padding-right: 5px;">
                @(Html.EJ().Grid<ViewCheque>("negociacionDetalleGrid")
                 .Datasource(d => d.URL(Url.Action("GetChequesByNegociacion", "Negociacion")))
                 .AllowPaging()
                 .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
                 .Columns(col =>
                 {
                     col.Field("Id").Visible(false).Width(10).Add();
                     col.Field("NombreBanco").HeaderText("Banco").TextAlign(TextAlign.Center).Width(10).Add();
                     col.Field("Numero").HeaderText("Número").TextAlign(TextAlign.Center).Width(10).Add();
                     col.Field("Monto").Format("{0:C2}").HeaderText("Monto").Width(10).TextAlign(TextAlign.Right).Add();
                     col.Field("FechaVencimiento").Format("{0:dd/MM/yyyy HH:mm}").HeaderText("Fecha Vencimiento").Width(10).TextAlign(TextAlign.Right).Add();
                     col.Field("Estado").HeaderText("Estado").Width(10).TextAlign(TextAlign.Center).Add();
                     col.Template(true)
                                        .HeaderTemplateID("headerCheck")
                                        .TemplateID("#template-command")
                                        .TextAlign(TextAlign.Center).Width(5).Add();

                 }).ClientSideEvents(eve => eve.QueryCellInfo("queryCellInfo"))
                )
                @Html.EJ().ScriptManager()
            </div>
        </div>
    </div>

</div>

@Html.Hidden("idsCheques")


<script type="text/x-jsrender" id="chkTemplate">
    <input type="checkbox" id="{{:IdCheque}}" data-selected="{{:Selected}}" modulo="true" onclick="CheckRow({{:IdCheque}});" class="row-header" />
</script>






<div class="modal fade" tabindex="-1" role="dialog"  id="modal-cheque" >

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Seleccionar Cheques</h4>
                </div>
                <div class="modal-body">
                    
                    <div class="row">
                        <div class="@Bootstrap.formgroup col-sm-1">
                            @Html.Label("", Resource.Numero)
                        </div>

                        <div class="@Bootstrap.formgroup col-sm-3">
                            
                            @Html.TextBox("txtNumero", "", new { @id = "txtNumero", @class = Bootstrap.input })
                          
                        </div>
                        <div class="@Bootstrap.formgroup col-sm-6">
                            @Html.Label("", "")
                            <button id="btnSearchCheque" type="button" class="btn btn-primary" data-loading-text="@Resource.Searching" />
                                <span class="fa fa-search"></span>
                                &nbsp; @Resource.Search
                            </button>
                        </div>
                       
                    </div>
                    
                    <br />

                    <div class="row">
                        <div class="col-lg-12" style="padding: 0px; padding-right: 5px;">
                            @(Html.EJ().Grid<ViewCheque>("chequesGrid")
                                 .Datasource(d => d.URL(Url.Action("GetChequesByFilters", "Cheque")))
                                 .AllowPaging()
                                 .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
                                 .Columns(col =>
                                 {
                                     col.Template(true)
                                        .HeaderTemplateID("headerCheck")
                                        .TemplateID("#chkTemplate")
                                        .TextAlign(TextAlign.Center).Width(5).Add();
                                     col.Field("IdCheque").Visible(false).Width(10).Add();
                                     col.Field("NombreBanco").HeaderText("Banco").TextAlign(TextAlign.Center).Width(10).Add();
                                     col.Field("Numero").HeaderText("Nro").TextAlign(TextAlign.Center).Width(10).Add();
                                     col.Field("Monto").Format("{0:C2}").HeaderText("Monto").Width(10).TextAlign(TextAlign.Right).Add();
                                     col.Field("FechaVencimiento").Format("{0:dd/MM/yyyy HH:mm}").HeaderText("FechaVencimiento").Width(10).TextAlign(TextAlign.Right).Add();
                                     col.Field("EstadoStr").HeaderText("Estado").Width(10).TextAlign(TextAlign.Center).Add();
                                 }).ClientSideEvents(eve => eve.QueryCellInfo("queryCellInfo"))
                                            )
                            @(Html.EJ().ScriptManager())
                        
                        </div>
                    </div>

                </div>

                <div class="modal-footer">

                    <div class="@Bootstrap.formgroup col-sm-2">
                        @Html.Label("", "")
                        <button id="btnGuardarCheque" type="button" class="btn btn-primary" data-loading-text="@Resource.Save" onclick="GuardarSeleccionCheque();">
                            <span class="fa fa-search"></span>
                            &nbsp; @Resource.Save
                        </button>
                    </div>

                </div>

            </div>
        </div>
    
</div>


<div id="negociacionDetalleinfo"     
     data-searchCheque-url="@Url.Action("GetChequesByFilters", "Cheque")"
     data-search-url="@Url.Action("GetChequesByNegociacion", "Negociacion")">
</div>