﻿@{
    ViewBag.Title = Resource.BandejaDeOperaciones;
}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
    @Styles.Render(Constant.Bundle.CSS_Operaciones)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)
    @Scripts.Render(Constant.Bundle.Script_OperacionBandejaInversor)

}
@*Estados:
    Pendiente   = 1,
    Aprobado    = 3,
    Rechazado   = 4,
    Pendiente24 = 5,
    Pendiente48 = 6,
    Cancelada   = 7,
    Pagada = 8
*@
<script type="text/x-jsrender" id="template-command">
    <div class="btn-group">
        <a title="Ver" class="fa fa-eye status statusGreen" href="javascript:redirectOperacion('{{:IDKey}}','/operacion/viewop')"></a>
        {{if Estado !== 3 &&  Estado !== 4 && Estado!== 7 && Estado!== 8}}
        <a title="Cancelar" class="fa fa-minus-square status statusRed" href="javascript:ajaxOperacion('{{:IDKey}}','/operacion/canceloperacion',function(){ $('#btnSearch').click();},true)"></a>
        {{/if}}
        {{if Estado === 3}}
        <a title="Pagado" class="fa fa-dollar status statusBlue" href="javascript:ajaxOperacion('{{:IDKey}}','/operacion/pagar',function(){ $('#btnSearch').click();},true)"></a>
        {{/if}}
        {{if Estado === 3 || Estado === 5 || Estado === 6 || Estado === 8}}
        <a title="Imprimir" class="fa fa-print status statusRed" href="javascript:printOperacion('{{:IDKey}}')"></a>
        {{/if}}
    </div>
</script>

@Html.AntiForgeryToken()
<div class="panel">
    <div class="panel-heading">
        @ViewBag.Title
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
        <a role="button" class="btn btn-primary btn-primary-new" href="@Url.Action("Crear")">
            <span class="fa fa-file-o"></span>
            &nbsp; @Resource.Create @Resource.Operacion
        </a>
    </div>
    <div class="panel-body" style="display: none;">
        <div class="row">
            <div class="@Bootstrap.formgroup col-sm-3">
                @Html.Label("", Resource.Fecha)
                @Html.TextBox("txtFechaFiltro", "", new { @id = "txtFechaFiltro", @class = Bootstrap.input })
            </div>
            <div class="@Bootstrap.formgroup col-sm-3">
                @Html.Label("", Resource.NroOp)
                @Html.TextBox("txtNroOpFiltro", "", new { @id = "txtNroOpFiltro", @class = Bootstrap.input, type = "number" })
            </div>
            <div class="@Bootstrap.formgroup col-sm-3">
                @Html.Label("", Resource.Inversores)
                @(Html.EJ().Autocomplete("acInversor")
                            .ShowEmptyResultText()
                            .AllowAddNew(false)
                            .Datasource(u => u.URL(Url.Action("AutocompleteInversor", "AutoComplete") + "?take=30&insertarIndistinto=true&"))
                            .AutocompleteFields(f => f.Text("Text").Key("Value"))
                            .EnableAutoFill()
                            .CaseSensitiveSearch(false)
                            .ClientSideEvents(e => e.Select("autocompleteClientSelectEvent").FocusOut("autocompleteClientLostFocustEvent"))
                            .FilterType(FilterOperatorType.Contains)
                            .HighlightSearch()
                            .MultiSelectMode(MultiSelectModeTypes.None)
                            .Width("100%"))
                @Html.Hidden("IdInversor", "", new { name = "IdInversor" })
            </div>
            <div class="@Bootstrap.formgroup col-sm-3">
                @Html.Label("", Resource.Estado)
                @Html.DropDownList("IdEstadoFiltro", new SelectList(ViewBag.Estados as List<KeyValuePair<int, string>>, "Key", "Value"), "Todos", new { id = "IdEstadoFiltro", @class = "form-control", style = "width:100%" })
            </div>
        </div>
        <div>
            <button id="btnSearch" type="button" class="btn btn-primary" data-loading-text="@Resource.Searching">
                <span class="fa fa-search"></span>
                &nbsp; @Resource.Search
            </button>
            <button id="btnRestore" type="button" class="btn btn-warning">
                <span class="fa fa-repeat"></span>
                &nbsp; @Resource.Restore
            </button>
        </div>
    </div>
</div>
@(Html.EJ().Grid<Banco>("bandejaOperaciones")
    .Datasource(d => d.URL(Url.Action("GetBandejaOperacionOperador")))
    .AllowPaging()
    .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
    .Columns(col =>
    {
        col.Field("Id").HeaderText(Resource.Operacion).IsPrimaryKey(true).Width(3).Add();
        col.Field("Fecha").Format("{0:dd/MM/yyyy HH:mm}").HeaderText(Resource.Fecha).TextAlign(TextAlign.Left).Width(4).Add();
        col.Field("Inversor").HeaderText("Inversor").TextAlign(TextAlign.Left).Width(4).Add();
        col.Field("Monto").Format("{0:C2}").HeaderText(Resource.Importe).TextAlign(TextAlign.Right).Width(3).Add();
        col.Field("Cheques").HeaderText(Resource.Cheques).TextAlign(TextAlign.Center).Width(2.5).Add();
        col.Field("Aprobados").HeaderText(Resource.Aprobado).TextAlign(TextAlign.Center).Width(3).Add();
        col.Field("Cancelados").HeaderText(Resource.Rechazados).TextAlign(TextAlign.Center).Width(3).Add();
        col.Field("FechaEvaluacion").Format("{0:dd/MM/yyyy}").HeaderText(Resource.FechaEvaluacion).TextAlign(TextAlign.Left).Width(4).Add();
        col.Field("MontoAprobado").Format("{0:C2}").HeaderText(Resource.MontoAprobado).TextAlign(TextAlign.Right).Width(4).Add();
        col.Field("Saldo").Format("{0:C2}").HeaderText(Resource.Saldo).TextAlign(TextAlign.Center).Width(4).Add();
        col.Field("EstadoStr").HeaderText(Resource.Estado).TextAlign(TextAlign.Left).Width(5).Add();
        col.HeaderText("")
           .Template(true)
           .TemplateID("#template-command")
           .TextAlign(TextAlign.Center).Width(4).Add();

        col.Field("IdInversor").Visible(false);
        col.Field("Estado").Visible(false);
        col.Field("IDKey").Visible(false);
    }).ClientSideEvents(eve => eve.QueryCellInfo("queryCellInfo"))
)
<div id="bandejaOperadorinfo" data-search-url="@Url.Action("GetBandejaOperacionOperador")">
</div>


