﻿@model  OperacionInversor

@{
    ViewBag.Title = string.Format(Resource.ABMTitle, Resource.BancoLower);
}
@Html.Partial("_ColumnCommandGridOperaciones", new ConfigStandarCommand
{
    UrlEdit = "EditDetalleCreacion",
    ActionDelete = "DeleteDetalleCreacion",
    ControllerDelete = "OperacionInversor",
    IdDelete = "Id"
})
@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
    @Styles.Render(Constant.Bundle.CSS_Operaciones)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)
    @Scripts.Render(Constant.Bundle.Script_OperacionInversor)
    @Scripts.Render(Constant.Bundle.Script_Banco)
    @Scripts.Render(Constant.Bundle.Script_Autocomplete)
    @Scripts.Render(Constant.Bundle.Script_DateTimeFormat)
}
<div class="col-lg-7">
    <div class="panel panel-primary">
        <header class="panel-heading">
            @Resource.Operacion
        </header>
        <div class="panel-body">
            <div class="col-lg-8" style="padding: 0px;border-right: solid 1px;padding-right: 5px;">
                @using (Ajax.BeginForm("SendCreacion", "OperacionInversor", new AjaxOptions { OnBegin = Constant.Ajax.JsOnBeginAjax, OnFailure = Constant.Ajax.JsOnError, OnSuccess = "onSuccessSendOperation(data)", HttpMethod = "POST" }))
            {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <label class="col-lg-2 col-sm-2 control-label">@Resource.Fecha</label>
                        <div class=col-md-8>
                            @Html.LabelFor(p => p.Fecha, (Model.Fecha == default(DateTime) ? DateTime.Now : Model.Fecha).ToString("dd/MM/yy HH:mm"))
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2 col-sm-2 control-label">Inversor</label>
                        <div class=col-md-8>
                            @(Html.EJ().Autocomplete("acInversor")
                            .ShowEmptyResultText()
                            .AllowAddNew(false)
                            .Datasource(u => u.URL(Url.Action("AutocompleteInversor", "AutoComplete") + "?take=30&insertarIndistinto=true&"))
                            .AutocompleteFields(f => f.Text("Text").Key("Value"))
                            .EnableAutoFill()
                            .CaseSensitiveSearch(false)
                            .ClientSideEvents(e => e.Select("autocompleteClientSelectEvent").FocusOut("autocompleteClientLostFocustEvent"))
                            .FilterType(FilterOperatorType.Contains)
                            .HighlightSearch()
                            .MultiSelectMode(MultiSelectModeTypes.None)
                            .Width("100%"))
                            @Html.Hidden("IdInversor", "", new { name = "IdInversor" })
                        </div>
                        <div class=col-md-2>
                            <button class="btn btn-primary" onclick="createInversor(); return false;">+</button>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2 col-sm-2 control-label">@Resource.Observaciones</label>
                        <div class=col-md-8>
                            @Html.TextAreaFor(p => p.Observacion, new { rows = "5", @class = "form-control", style = "width:100%; text-transform: uppercase;" })
                        </div>
                    </div>
                    <div style="float:left;margin-right:5px">
                        <button class=" btn btn-primary" onclick="return beforeSenData()">@Resource.Save</button>
                    </div>
                }

                <div>
                    @using (Html.BeginForm("Volver", "Operacion", new { bandeja = "bandejaoperador" }, FormMethod.Post, new { style = "display:inline-block" }))
                    {
                        @Html.AntiForgeryToken()
                        <div style="display:inline-block">
                            <button class="btn btn-danger">@Resource.Cancel</button>
                        </div>
                    }
                    @using (Html.BeginForm("ClearCreacion", "Operacion", FormMethod.Post, new { style = "display:inline-block" }))
                    {
                        @Html.AntiForgeryToken()
                        <div style="display:inline-block">
                            <button class="btn btn-default">@Resource.New</button>
                        </div>
                    }
                </div>
            </div>
            <div style="display: inline-block;margin-left: 26px;font-size: x-large;width:25%">
                <label style="font-weight:normal" id="label-saldo">$0</label>
            </div>
            <div class="col-lg-3" style="padding: 0px;padding-left: 5px;">
                <h4>@Resource.ResumenCuenta</h4>
                <div>
                    <label style="width:100px">@Resource.TasaAsignada:</label>
                    <label style="font-weight:normal" id="label-tasa">0%</label>
                </div>
                <div>
                    <label style="width:90px">@Resource.Cheques:</label>
                    <label style="font-weight:normal" id="label-cheques">-</label>
                </div>
                <div>
                    <label style="width:90px">@Resource.Importe:</label>
                    <label style="font-weight:normal" id="label-importe">-</label>
                </div>
                <div>
                    <label style="width:90px">@Resource.Calculado:</label>
                    <label style="font-weight:normal" id="label-importeApr">-</label>
                </div>
                <hr style="margin:0px" />
                <h4>@Resource.Historial</h4>
                <div>
                    <label style="width:135px">@Resource.ImporteChequeRechazados:</label>
                    <label style="font-weight:normal;color:red" id="label-cheques-rechazados">$0</label>
                </div>
                <div>
                    <label style="width:135px">@Resource.CantidadChequeRechazados:</label>
                    <label style="font-weight:normal;color:red" id="label-cheques-cantidad-rechazados">0</label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <header class="panel-heading">
            @Resource.DatosCheque
        </header>
        <div class="panel-body" style="padding: 2px;">
            @(Html.EJ().Grid<Object>("cheques")
           .Datasource(d => d.URL(Url.Action("GetChequesCreacion")))
            .AllowPaging(false)
            .Columns(col =>
            {
                col.Field("Id").Visible(false).Add();
                col.Field("Nro").HeaderText("Nro").TextAlign(TextAlign.Center).Width(120).Add();
                col.Field("Banco").HeaderText("Banco").TextAlign(TextAlign.Center).Width(120).Add();
                col.Field("Importe").Format("{0:C2}").HeaderText("Importe").Width(100).TextAlign(TextAlign.Right).Add();
                col.Field("FechaVencimiento").Format("{0:dd/MM/yyyy}").HeaderText("Vencimiento").TextAlign(TextAlign.Left).Width(80).Add();
                col.Field("ImporteApr").Format("{0:C2}").HeaderText("Importe Calculado").Width(100).TextAlign(TextAlign.Right).Add();
                col.Field("Estado").HeaderText("Estado").Width(90).TextAlign(TextAlign.Center).Add();
                col.HeaderText("")
                    .Template(true)
                    .TemplateID("#" + Constant.Partial.IDStandarTemplateCommand)
                    .TextAlign(TextAlign.Center).Width(70).Add();
            }).ClientSideEvents(cliente => cliente.ActionComplete("actionComplete"))
            )
        </div>
    </div>
    @Html.EJ().ScriptManager()
</div>
<div class="col-lg-4">
    <div class="panel panel-primary">
        <header class="panel-heading">
            @Resource.DatosCheque
        </header>
        <div class="panel-body" style="padding-left:5px">
            @using (Ajax.BeginForm("ABMCheque", "Cheque", new AjaxOptions { OnBegin = Constant.Ajax.JsOnBeginAjax, OnFailure = Constant.Ajax.JsOnError, OnSuccess = "addOperacionToGrid(data)", HttpMethod = "POST" }, new { id = "form-cheques" }))
            {
                @Html.AntiForgeryToken()                               
                <div class="row">
                    @Html.Label(Resource.Banco, new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class=col-md-10>
                        <select name="@Html.Name(Resource.Banco)"
                                id="@Html.IdFor(c=>c.IdBanco)"
                                class="form-control" onchange="onChangeBanco()">
                            @foreach (var banck in ViewBag.Bancos as List<Banco>)
                            {
                                <option value="@banck.IdBanco"
                                        @((Model.DetalleOperacion != null && banck.IdBanco == Model.DetalleOperacion.IdBanco && Model.DetalleOperacion.IdBanco > 0 ? "selected" : ""))
                                        data-code="@banck.Codigo">
                                    @banck.Nombre
                                </option>
                            }
                        </select>
                        @* @Html.DropDownListFor(model => model.DetalleOperacion.IdBanco, ViewBag.Bancos as IEnumerable<SelectListItem>, new { @class = "form-control", style = "width:100%", onchange = "onChangeBanco()" })*@
                        @Html.ValidationMessageFor(model => model.DetalleOperacion.IdBanco)
                        @Html.HiddenFor(model => model.DetalleOperacion.Banco)
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.DetalleOperacion.Cp, new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class=col-md-10>
                        @Html.TextBoxFor(model => model.DetalleOperacion.Cp, new { @class = "form-control", style = "width:100%; text-transform: uppercase;" })
                        @Html.ValidationMessageFor(model => model.DetalleOperacion.Cp)
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.DetalleOperacion.SucursalEmision, new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class=col-md-10>
                        @Html.TextBoxFor(model => model.DetalleOperacion.SucursalEmision, new { @class = "form-control", style = "width:100%; text-transform: uppercase;" })
                        @Html.ValidationMessageFor(model => model.DetalleOperacion.SucursalEmision)
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.DetalleOperacion.Numero, new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class=col-md-10>
                        @Html.TextBoxFor(model => model.DetalleOperacion.Numero, new { @class = "form-control", style = "width:100%; text-transform: uppercase;" })
                        @Html.ValidationMessageFor(model => model.DetalleOperacion.Numero)
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.DetalleOperacion.NumeroCuenta, new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class=col-md-10>
                        @Html.TextBoxFor(model => model.DetalleOperacion.NumeroCuenta, new { @class = "form-control", style = "width:100%; text-transform: uppercase;" })
                        @Html.ValidationMessageFor(model => model.DetalleOperacion.NumeroCuenta)
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.DetalleOperacion.TitularCuenta, new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class=col-md-10>
                        @Html.TextBoxFor(model => model.DetalleOperacion.TitularCuenta, new { @class = "form-control", style = "width:100%; text-transform: uppercase;" })
                        @Html.ValidationMessageFor(model => model.DetalleOperacion.TitularCuenta)
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.DetalleOperacion.FechaVencimiento, new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class=col-md-10>
                        <div class="input-group">
                            <span class="input-group-addon" style="padding:0px;width:35px"><i class="fa fa-calendar"></i></span>
                            @Html.TextBoxFor(model => model.DetalleOperacion.FechaVencimiento, new { @class = "form-control", style = "width:80%" })
                        </div>
                        @Html.ValidationMessageFor(model => model.DetalleOperacion.FechaVencimiento)
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.DetalleOperacion.MontoStr, new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class=col-md-10>
                        <div class="input-group">
                            <span class="input-group-addon" style="padding:0px;width:35px">$</span>
                            @Html.TextBoxFor(model => model.DetalleOperacion.MontoStr, new { @class = "form-control", style = "width:80%", type = "number" })
                        </div>
                        @Html.ValidationMessageFor(model => model.DetalleOperacion.MontoStr)
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.DetalleOperacion.CMC7, new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class=col-md-10>
                        @Html.TextBoxFor(model => model.DetalleOperacion.CMC7, new { @class = "form-control", style = "width:100%; text-transform: uppercase;", @readonly = "true" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.DetalleOperacion.UniqueId)
                <div class="row" style="margin-right:10px">
                    <div class="col-lg-3" style="float:right;margin-right:5px">
                        <button class="btn btn-danger" onclick="clearFormCheque(); return false;">@Resource.Cancel <i class="fa fa-remove"></i></button>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-default" onclick="scanCheque(); return false;">Escanear <i class="fa fa-picture-o"></i></button>
                    </div>
                    <div class="col-lg-3" style="float:right">
                        <button class="btn btn-default" type="submit">@Resource.Add<i class="fa fa-save"></i></button>
                    </div>
                </div>
                <div class="row" style="text-align:center;border:solid 1px #000;margin-left: 0px;">
                    <a class="imageFixed" style="left: 7px;" href="javascript:expandImage('#imgCheque1')">
                        <i class="fa fa fa-expand"></i>
                    </a>
                    <a class="imageFixed" style="left: 27px;" href="javascript:deleteIamge('#imgCheque1','/UploadImages/Cheques/no-Imagen.png','#DetalleOperacion_ImagenFront')">
                        <i class="fa fa fa-remove"></i>
                    </a>
                    <a class="imageFixed" id="uploadImageFront" style="left: 47px" href="javascript:uploadFile(true)">
                        <i class="fa fa fa-upload"></i>
                    </a>
                    <img id="imgCheque1" style="width:100%;" src="~/UploadImages/Cheques/no-Imagen.png" />
                    @Html.HiddenFor(p => p.DetalleOperacion.ImagenFront)
                </div>
                <div class="row" style="text-align:center;border:solid 1px #000;margin-left: 0px;">
                    <a class="imageFixed" style="left: 7px;" href="javascript:expandImage('#imgCheque2')">
                        <i class="fa fa fa-expand"></i>
                    </a>
                    <a class="imageFixed" style="left: 27px;" href="javascript:deleteIamge('#imgCheque2','/UploadImages/Cheques/no-Imagen.png','#DetalleOperacion_ImagenBack')">
                        <i class="fa fa fa-remove"></i>
                    </a>
                    <a class="imageFixed" id="uploadImageBack" style="left: 47px" href="javascript:uploadFile(false)">
                        <i class="fa fa fa-upload"></i>
                    </a>
                    <img id="imgCheque2" style="width:100%" src="~/UploadImages/Cheques/no-Imagen.png" />
                    @Html.HiddenFor(p => p.DetalleOperacion.ImagenBack)
                </div>
            }
        </div>
    </div>

</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-inversor-edit" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">@Resource.Inversores</h4>
            </div>
            <div class="modal-body">
                <div id="grid-detalle-edit-popup">
                    @Html.Partial("~/Views/Inversor/ABMInversor.cshtml", new Inversor(), new ViewDataDictionary { { "PopUp", true }, { "Tasas", ViewBag.Tasas } })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-expand-image" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <img id="imgExpand" style="width:100%; max-width:1024px" />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Close</button>
            </div>
        </div>
    </div>
</div>
<form enctype="multipart/form-data" id="frmUplaodFileAdd">
    <input id="file" name="file" type="file" style="display:none" />
</form>
<form enctype="multipart/form-data" id="frmUplaodFileAddBack">
    <input id="fileBack" name="fileBack" type="file" style="display:none" />
</form>