﻿@Html.Partial("~/Views/Shared/EventDialog.cshtml")
@Styles.Render("~/content/fileUpload")
@Scripts.Render("~/bundles/fileUpload")
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Adjuntar Archivos</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <p>@ViewBag.Destino</p>

        <form id="fileupload" action="~/ArchivoAdjunto/UploadHandle" method="POST" enctype="multipart/form-data">
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="row fileupload-buttonbar">
                <div class="span7">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button btn-sm">
                        <i class="fa fa-plus"></i>
                        <span>@Resource.AgregarArchivos</span>
                        <input type="file" name="files[]" multiple>
                    </span>
                    <button type="submit" class="btn btn-primary start btn-sm">
                        <i class="fa fa-upload"></i>
                        <span>@Resource.IniciarSubida</span>
                    </button>
                    <button type="reset" class="btn btn-default cancel btn-sm">
                        <i class="fa fa-times-circle-o"></i>
                        <span>@Resource.Cancel</span>
                    </button>
                    <button type="button" class="btn btn-danger delete btn-sm" id="deleteFile" onclick="ConfirmYesNoDeleteFiles('@Resource.Confirmacion', '@Resource.PreguntaConfirmacionEliminacion', 'true', '{%=file.name%}', '{%=o.getGuid()%}', '{%=file.delete_url%}')">
                        <i class="fa fa-trash-o"></i>
                        <span>@Resource.Delete</span>
                    </button>




                </div>
                <div class="span5">
                    <!-- The global progress bar -->
                    <div class="progress progress-success progress-striped active fade">
                        <div class="bar" style="width:0%;"></div>
                    </div>
                </div>
            </div>
            <!-- The loading indicator is shown during image processing -->
            <div class="fileupload-loading"></div>
            <br>
            <!-- The table listing the files available for upload/download -->
            <table class="table table-striped">
                <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
            </table>

            @Html.Label(Resource.ArchivosSubidosAnteriormente)

            <table class="table table-striped" id="download-files">
                <tbody>
                    <tr>
                        <td align="center">
                            <img style="width:32px" src="~/Content/Images/AttachmentsImg/loading.gif" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>



        <!-- The template to display files available for upload -->
        <script id="template-upload" type="text/x-tmpl">
            {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-upload fade">
                <td class="preview"><span class="fade"></span></td>
                <td class="name"><span>{%=file.name%}</span></td>
                <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                {% if (file.error) { %}
                <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
                {% } else if (o.files.valid && !i) { %}
                <td>
                    <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
                </td>
                <td class="start">
                    {% if (!o.options.autoUpload) { %}
                    <button class="btn btn-primary btn-sm">
                        <i class="fa fa-upload"></i>
                        <span>@Resource.Iniciar</span>
                    </button>
                    {% } %}
                </td>
                {% } else { %}
                <td colspan="2"></td>
                {% } %}
                <td class="cancel">
                    {% if (!i) { %}
                    <button class="btn btn-warning btn-sm">
                        <i class="icon-ban-circle icon-white"></i>
                        <span>@Resource.Cancel</span>
                    </button>
                    {% } %}
                </td>
            </tr>
            {% } %}
        </script>


        <!-- The template to display files available for download -->
        <script id="template-download" type="text/x-tmpl">
            {% for (var i=0, file;file=o.files[i]; i++) { %}
            {% file.index = i;%}
            <tr class="template-download fade" id="{%=o.generateGuid()%}">
                {% if (file.error) { %}
                <td></td>
                <td class="name"><span>{%=file.name%}</span></td>
                <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
                {% } else { %}
                <td class="preview">
                    {% if (file.thumbnail_url) { %}
                    <img src="{%=file.thumbnail_url%}">
                    {% } %}
                </td>
                <td class="name">
                    {%=file.name%}
                </td>
                <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                <td colspan="2"></td>
                {% } %}
                <td class="delete">
                    <a href="@Url.Content("~/ArchivoAdjunto/DownloadFile")?f={%=file.name%}" class="btn btn-primary start btn-sm">
                        <i class="fa  fa-download"></i>
                        <span>@Resource.Descargar</span>
                    </a>
                    <a class="btn btn-danger btn-sm" data-type="{%=file.delete_type%}" href="javascript:ConfirmYesNoDeleteFiles('@Resource.Confirmacion','@Resource.PreguntaConfirmacionEliminacion','false','{%=file.name%}','{%=o.getGuid()%}','{%=file.delete_url%}')">
                        <i class="fa fa-trash-o"></i>
                        <span>@Resource.Delete</span>
                    </a>
                    <input type="checkbox" name="delete" value="1" data-delete="{%=file.name%}" idRow="{%=o.getGuid()%}">
                </td>
            </tr>
            {% } %}


        </script>

        <script>

            $(document).ready(function () {
                $.ajax({
                    method: "GET",
                    dataType: "html",
                    url: "/ArchivoAdjunto/LoadAttachedFiles",
                    success: function (data) {
                        $("#download-files tbody").html('');
                        $("#download-files tbody").append(data);
                    }
                });
            });

            function deleteFileUploaded(name, idRow, url) {
                $.ajax({
                    method: "POST",
                    dataType: "json",
                    url: "/ArchivoAdjunto/DeleteAttachedFile",
                    data: { fileName: name },
                    success: function (data) {
                        $("#" + idRow).remove()
                    },
                    error: function (a, b, c) {
                    }

                })

                .done(function (msg) {
                    popupGenerico("info", "Información", msg.message);
                });
            }

            function deleteSelectedFiles() {
                var ids = new Array();
                var idRows = new Array();
                $("[name=delete]:checked").each(
                    function () {
                        ids.push($(this).attr("data-delete"));
                        idRows.push($(this).attr("idRow"));
                    });

                if (ids.length > 0) {
                    $.ajax({
                        method: "POST",
                        dataType: "json",
                        url: "/ArchivoAdjunto/DeleteAttachedFiles",
                        data: { files: ids },
                        success: function (data) {

                            for (i = 0; i < idRows.length; i++) {
                                $("#" + idRows[i]).remove();
                            }
                        },
                        error: function (a, b, c) {
                        }

                    })

                .done(function (msg) {
                    popupGenerico("info", "Información", msg.message);
                });
                }
            }

            function DownloadFileUploaded(name) {
                $.ajax({
                    method: "POST",
                    dataType: "json",
                    url: "/ArchivoAdjunto/DownloadFile?f=" + name,
                    data: { fileName: name },
                    dataType: 'json',
                })

                .done(function (msg) {
                    popupGenerico("info", "Información", msg.message);

                });
            }


            //msj inicio

            function ConfirmYesNoDeleteFiles(title, msg, deleteAll, fileName, idRow, url) {

                var $confirm = $("#modalConfirmYesNo");

                $('.modal').modal('hide');

                $confirm.modal('show');
                $("#lblTitleConfirmYesNo").html(title);
                $("#lblMsgConfirmYesNo").html(msg);
                $("#btnYesConfirmYesNo").off('click').click(function () {
                    if (deleteAll == 'true')
                    {
                        deleteSelectedFiles();
                    }
                    else
                    {
                        deleteFileUploaded(fileName, idRow, url);
                    }

                    $confirm.modal("hide");
                });
                $("#btnNoConfirmYesNo").off('click').click(function () {
                    $confirm.modal("hide");
                });
            }

            //msj fin


        </script>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">@Resource.Cerrar</button>
        </div>
    </div>

</div>