﻿@{
    ViewBag.Title = @Resource.ProyeccionFinanciera;

}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)

    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/ProyeccionFinanciera/proyeccionFinanciera.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/Reporte/report.js")"></script>
}


<div class="panel">
    <div class="panel-heading">
        @ViewBag.Title
    </div>
    <div class="panel-body">
        <div class="row">
            
            <div class="@Bootstrap.formgroup col-sm-6">               
                @(Html.EJ().Autocomplete("acInversor")
                                    .CssClass("Bootstrap.label")
                                    .ShowEmptyResultText()
                                    .AllowAddNew(false)
                                    .Datasource(u => u.URL(Url.Action("AutocompleteInversor", "AutoComplete") + "?take=30&insertarIndistinto=true&clasificacionInversor=1&"))
                                    .AutocompleteFields(f => f.Text("Text").Key("Value"))
                                    .EnableAutoFill()
                                    .WatermarkText("Inversor")
                                    .CaseSensitiveSearch(false)
                                    .ClientSideEvents(e => e.Select("autocompleteInversorSelectEvent").FocusOut("autocompleteClientLostFocustEvent"))
                                    .FilterType(FilterOperatorType.Contains)
                                    .HighlightSearch()
                                    .MultiSelectMode(MultiSelectModeTypes.None)
                                    .Width("100%"))
                @Html.Hidden("IdInversor", "", new { name = "IdInversor" })
            </div>
            <div class="@Bootstrap.formgroup col-sm-5">
                @Html.DropDownList("IdCuentaCorrienteInversor", Enumerable.Empty<SelectListItem>(), Resource.SeleccionCuenta, new { @class = Bootstrap.input })
            </div>
        </div>
        <div>
            <button id="btnSearch" type="button" class="btn btn-primary" data-loading-text="@Resource.Searching">
                <span class="fa fa-search"></span>
                &nbsp; @Resource.Search
            </button>
            <button id="btnRestore" type="button" class="btn btn-warning">
                <span class="fa fa-repeat"></span>
                &nbsp; @Resource.Restore
            </button>
        </div>
    </div>
</div>

@(Html.EJ().Grid<Domine.Dto.DtoProyeccionFinanciera>("ProyeccionFinancieraGrid")
    .Datasource(d => d.URL(Url.Action("GetProyeccion")))
    .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
    .AllowPaging(false)
    .ClientSideEvents(eve => eve.QueryCellInfo("querycellinfo"))
    .Columns(col =>
    {
        col.Field("Fecha").Format("{0:dd/MM/yyyy}").HeaderText("Fecha").TextAlign(TextAlign.Left).Width(3).Add();
        col.Field("Ingreso").Format("{0:C2}").HeaderText("Crédito").TextAlign(TextAlign.Left).Width(3).Add();
        col.Field("Egreso").Format("{0:C2}").HeaderText("Débito").TextAlign(TextAlign.Left).Width(3).Add();
        col.Field("TasaInteres").Format("{0:P3}").HeaderText("Tasa Diaria").TextAlign(TextAlign.Left).Width(3).Add();
        col.Field("Intereses").Format("{0:C2}").HeaderText("Interes Diario").TextAlign(TextAlign.Left).Width(3).Add();
        col.Field("Impuestos").Format("{0:C2}").HeaderText("Impuestos").TextAlign(TextAlign.Left).Width(3).Add();
        col.Field("Gastos").Format("{0:C2}").HeaderText("Gastos").TextAlign(TextAlign.Left).Width(3).Add();
        col.Field("Multas").Format("{0:C2}").HeaderText("Multas").TextAlign(TextAlign.Left).Width(3).Add();
        col.Field("Total").Format("{0:C2}").HeaderText("Total").TextAlign(TextAlign.Left).Width(3).Add();
        col.Field("Saldo").Format("{0:C2}").HeaderText("Saldo Final").TextAlign(TextAlign.Left).Width(3).Add();
    })


)
<div id="proyeccionFinancieraInfo"
     data-search-url="@Url.Action("GetProyeccion")"
     data-report-url="@Url.Action("ReporteCuentaCorriente")"
     data-nombre-reporte="@Resource.ReporteCuentaCorriente">
</div>