﻿@model List<Luma.Utils.ActualizarYDescargarArchivos.FilesStatus>
@{int count = 0; }


@foreach (var file in Model)
{
    ++count;
    <tr class="template-download fade in" id="id_@count">
        <td class="preview">
            @if (!String.IsNullOrEmpty(file.thumbnail_url))
            {

                <img src="@file.thumbnail_url">
            }
        </td>
        <td class="name">
            @file.name
        </td>
        <td class="size"><span>@file.size KB</span></td>
        <td colspan="2"></td>
        <td class="delete">
            <a class="btn btn-primary start btn-sm" href="@Url.Content("~/ArchivoAdjunto/DownloadFile")?f=@file.name">
                <i class="fa  fa-download"></i>
                <span>@Resource.Descargar</span>
            </a>
            <a class="btn btn-danger btn-sm" data-type="file.delete_type" href="javascript:ConfirmYesNoDeleteFiles('@Resource.Confirmacion','@Resource.PreguntaConfirmacionEliminacion','false','@file.name','id_@count','@file.delete_url')">
                <i class="fa fa-trash-o"></i>
                <span>@Resource.Delete</span>
            </a>
            <input type="checkbox" name="delete" value="1" data-delete="@file.name" idRow="id_@count">
        </td>
    </tr>
}