﻿@model CuentaCorrienteInversor

@{
    ViewBag.Title = string.Format(Resource.ABMTitle, Resource.Inversores);
}

<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        @using (Ajax.BeginForm("ABMCuentaCorrienteInversores", null, new AjaxOptions
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnBegin = Constant.Ajax.JsOnBeginAjax,
            OnSuccess = Constant.Ajax.JsOnSuccessAjax
        },
		new { @class = "cmxform form-horizontal", id = "form-cuentaCorriente", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.IdCuentaCorrienteInversor)
            @Html.HiddenFor(model => model.IdInversor)
            <div class="form">
				<div class="@Bootstrap.formgroup">
					@Html.LabelFor(model => model.Estado, new { @class = Bootstrap.label })
					<div class="col-lg-6">
						<div class="input-group m-bot15">
							<span class="input-group-addon">*</span>
							 @Html.DropDownListFor(model => model.Estado, (List<SelectListItem>)ViewBag.EstadoCtaCte, new {@class = Bootstrap.input, Resource.Estado })
						</div>
						@Html.ValidationMessageFor(model => model.Estado)
					</div>
				</div>
				<div class="@Bootstrap.formgroup">
					<div class="col-lg-offset-3 col-lg-6">
						<b>
							<label class="error-label" id="@Constant.SuccessMessages.ERROR_VAR"></label>
						</b>
					</div>
				</div>
                <hr />
                <div class="@Bootstrap.formgroup">
                    <div class="col-lg-offset-3 col-lg-6">
                        <button class="btn btn-primary" type="submit" id="btnSave">@Resource.Save</button>
                        <button class="btn btn-default" type="button" onclick="window.location = '@Url.Action("Index")';">@Resource.Cancel</button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>