﻿@{
	ViewBag.Title = "Cuenta Corriente Inversor";

    var create = false;
    var edit = true;
    var delete = true;
}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)

    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/CuentaCorrienteInversor/cuentaCorriente.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/Site/Reporte/report.js")"></script>
}

@Html.Partial("_ColumnCommandGridStandar", new ConfigStandarCommand
{
    UrlEdit = (edit ? Url.Action("ABMCuentaCorrienteInversor") + "/{{:IdCuentaCorrienteInversor}}" : ""),
    ButtonFilter = "btnSearch",
    CustomeTemplate = "<a style=\"float:right\" href=\"" + "javascript:abrirReporte(" + "{{:IdCuentaCorrienteInversor}}" + ")\" role=\"button\" class=\"btn btn-info btn-sm\" title=\"" + Resource.ImprimirResumen + "\"><span class=\"fa fa-print\"></span></a>"
})

<div class="panel">
    <div class="panel-heading">
        @ViewBag.Title
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
		@if (create)
		{
			<a role="button" class="btn btn-primary btn-primary-new" href="@Url.Action("ABMCuentaCorrienteInversor")">
				<span class="fa fa-file-o"></span>
				&nbsp; @Resource.Create Cuenta Corriente Inversor
			</a>
		}
    </div>
    <div class="panel-body" style="display: none;">
        <div class="col-lg-12" style="padding-bottom:5px">
            <label class="col-lg-2 col-sm-2 control-label">Inversor</label>
            <div class=col-md-6>
                @(Html.EJ().Autocomplete("acInversor")
            .ShowEmptyResultText()
            .AllowAddNew(false)
            .Datasource(u => u.URL(Url.Action("AutocompleteInversor", "AutoComplete") + "?take=30&insertarIndistinto=true&"))
            .AutocompleteFields(f => f.Text("Text").Key("Value"))
            .EnableAutoFill()
            .CaseSensitiveSearch(false)
            .ClientSideEvents(e => e.Select("autocompleteInversorSelectEvent").FocusOut("autocompleteClientLostFocustEvent"))
            .FilterType(FilterOperatorType.Contains)
            .HighlightSearch()
            .MultiSelectMode(MultiSelectModeTypes.None)
            .Width("100%"))
                @Html.Hidden("txtNombre", "", new { @id = "txtNombre", @class = Bootstrap.input })
            </div>

        </div>
        <div>
            <button id="btnSearch" type="button" class="btn btn-primary" data-loading-text="@Resource.Searching">
                <span class="fa fa-search"></span>
                &nbsp; @Resource.Search
            </button>
            <button id="btnRestore" type="button" class="btn btn-warning">
                <span class="fa fa-repeat"></span>
                &nbsp; @Resource.Restore
            </button>
        </div>
    </div>
</div>
@Html.Hidden("hiddenIdCtaCte")

@(Html.EJ().Grid<CuentaCorrienteInversor>("cuentaCorrienteGrid")
    .Datasource(d => d.URL(Url.Action("GetCuentasCorrientesInversor")))
    .AllowPaging()   
    .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
    .Columns(col =>
    {
		col.Field("IdCuentaCorrienteInversor").HeaderText("Numero Cuenta").IsPrimaryKey(true).Width(2).Add();
		col.Field("NombreInversor").HeaderText("Inversor").TextAlign(TextAlign.Left).Width(3).Add();
        col.Field("Debito").Format("{0:C2}").HeaderText("Debe").TextAlign(TextAlign.Left).Width(3).Add();
        col.Field("Credito").Format("{0:C2}").HeaderText("Haber").TextAlign(TextAlign.Left).Width(3).Add();
        col.Field("Saldo").Format("{0:C2}").HeaderText("Saldo").TextAlign(TextAlign.Left).Width(3).Add();
        col.HeaderText("")
            .Template(true)
            .TemplateID("#" + Constant.Partial.IDStandarTemplateCommand)
            .TextAlign(TextAlign.Center).Width(2).Add();
    })    
    )
<div id="cuentaCorrienteinfo" 
    data-search-url="@Url.Action("GetCuentasCorrientesInversor")"
    data-report-url="@Url.Action("ReporteCuentaCorriente")"
	data-nombre-reporte="@Resource.ReporteCuentaCorriente">
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-reporte" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel" align="center">Resumen Cuenta</h4>
            </div>
            <hidden id="hiddenCaja" value="0"></hidden>
            <div class="modal-body">
                <div id="grid-detalle-edit-popup">
                    @Html.Partial("~/Views/CuentaCorriente/Reporte.cshtml", new ViewDataDictionary { { "PopUp", true } })
                </div>
            </div>
        </div>
    </div>
</div>