﻿@{
	ViewBag.Title = Resource.Sucursal;

    //var create = CustomMembership.HasPermission("Banco", (int)Enumerations.Permission.Create);
    //var edit = CustomMembership.HasPermission("Banco", (int)Enumerations.Permission.Edit);
    //var delete = CustomMembership.HasPermission("Banco", (int)Enumerations.Permission.Delete);
    var create = true;
    var edit = true;
    var delete = true;
}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)

    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/Sucursal/list.js")"></script>
}

@Html.Partial("_ColumnCommandGridStandar", new ConfigStandarCommand
{
    UrlEdit = (edit ? Url.Action("ABMSucursal") + "/{{:IdSucursal}}" : ""),
    ActionDelete = (delete ? "Delete" : ""),
    ControllerDelete = (delete ? "Sucursal" : ""),
    IdDelete = (delete ? "IdSucursal" : ""),
    ButtonFilter = "btnSearch"
})

<div class="panel">
    <div class="panel-heading">
        @ViewBag.Title
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
		@if (create)
		{
			<a role="button" class="btn btn-primary btn-primary-new" href="@Url.Action("ABMSucursal")">
				<span class="fa fa-file-o"></span>
				&nbsp; @Resource.Create @Resource.Sucursal
			</a>
		}
    </div>
    <div class="panel-body" style="display: none;">
        <div class="row">
            <div class="@Bootstrap.formgroup col-sm-3">
                @Html.Label("", Resource.Numero)
                @Html.TextBox("txtNumero", "", new { @id = "txtNumero", @class = Bootstrap.input })
            </div>
        </div>
        <div>
            <button id="btnSearch" type="button" class="btn btn-primary" data-loading-text="@Resource.Searching">
                <span class="fa fa-search"></span>
                &nbsp; @Resource.Search
            </button>
            <button id="btnRestore" type="button" class="btn btn-warning">
                <span class="fa fa-repeat"></span>
                &nbsp; @Resource.Restore
            </button>
        </div>
    </div>
</div>
@(Html.EJ().Grid<View_Sucursal>("sucursalGrid")
    .Datasource(d => d.URL(Url.Action("GetSucursales")))
    .AllowPaging()   
    .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
    .Columns(col =>
    {
        col.Field("IdSucursal").HeaderText("Id").IsPrimaryKey(true).Width(1).Add();
        col.Field("Nombre").HeaderText(Resource.Empresa).TextAlign(TextAlign.Left).Width(4).Add();
		col.Field("Numero").HeaderText(Resource.Numero).TextAlign(TextAlign.Left).Width(4).Add();
        col.Field("Descripcion").HeaderText(Resource.Descripcion).TextAlign(TextAlign.Left).Width(4).Add();
        col.HeaderText("")
            .Template(true)
            .TemplateID("#" + Constant.Partial.IDStandarTemplateCommand)
            .TextAlign(TextAlign.Center).Width(2).Add();
    })    
    )
<div id="sucursalInfo" data-search-url="@Url.Action("GetSucursales")">
</div>