﻿@model Domine.Dto.DtoPrintOperacionCtaCte
@{
    Layout = null;
}
<html>
<head>
    <style>
        body{
            font-size:small;
        }
        #tablacheques table {
            border: 1px solid;
        }

            #tablacheques table th {
                width: 150px;
                 font-size:small;
            }

            #tablacheques table td {
                width: 150px;
                border: 1px solid;
                font-size:small;
                text-align:center;
            }
    </style>
</head>
<body>
    <div style="float:left;text-align:center;width:20%">        
        <p style="font-size:14px;font-weight:700">@Model.Empresa.Nombre</p>
        <p>@Model.Empresa.Direccion</p>
        <p>C.U.I.T @Model.Empresa.Cuit</p>
    </div>
    <div style="float:right;text-align:center;width:49%">
        <label>Fecha: @DateTime.Now.ToString("dd/MM/yyyy")</label>
    </div>

    <div style="width:100%;text-align:center;float:left">
        <hr />
        <label>Comprobante Original</label>
        <hr />
    </div>
    <div style="width:50%;float:left;">
        <div>
            <label>Nro. Operación: @Model.OperacionCtaCte.IdCuentaCorrienteInversor</label>           
        </div>
    </div>
   <div style="width:100%;float:left">
        <br />
        <p>Inversor: @Model.OperacionCtaCte.CuentaCorrienteInversor.Inversores.Nombre</p>
        <p>Domicilio: @Model.OperacionCtaCte.CuentaCorrienteInversor.Inversores.Domicilio</p>
        <p>C.U.I.T: @Model.OperacionCtaCte.CuentaCorrienteInversor.Inversores.CUIT</p>
    </div>
    <div style="width:100%;float:left">
        <br />
        @if (@Model.OperacionCtaCte.TipoMovimiento == 2)
        {
             <p>En la Ciudad de Mendoza,Rca. Argentina. En el dia de la fecha <b>RECIBI/MOS</b>, la suma de @Model.OperacionCtaCte.Monto.ToString("C2"). (@Model.MontoLetra)</p>
        }
        else
        {
              <p>En la Ciudad de Mendoza,Rca. Argentina. En el dia de la fecha <b>LIQUIDAMOS</b>, la suma de @Model.OperacionCtaCte.Monto.ToString("C2"). (@Model.MontoLetra)</p>
        }
       
    </div>
    <div style="width:100%;float:left">
        <label>Firma:</label>
        <br />
        <br />
        <label>Aclaración:</label>
        <br />
        <br />
        <label>DNI Número:</label>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
    
    @*duplicado*@

     <div style="float:left;text-align:center;width:20%">
        <p style="font-size:14px;font-weight:700">@Model.Empresa.Nombre</p>
        <p>@Model.Empresa.Direccion</p>
        <p>C.U.I.T @Model.Empresa.Cuit</p>
    </div>
    <div style="float:right;text-align:center;width:49%">
        <label>Fecha: @DateTime.Now.ToString("dd/MM/yyyy")</label>
    </div>

    <div style="width:100%;text-align:center;float:left">
        <hr />
        <label>Comprobante Duplicado</label>
        <hr />
    </div>
    <div style="width:50%;float:left;">
        <div>
            <label>Nro. Operación: @Model.OperacionCtaCte.IdCuentaCorrienteInversor</label>           
        </div>
    </div>
    <div style="width:100%;float:left">
        <br />
        <p>Inversor: @Model.OperacionCtaCte.CuentaCorrienteInversor.Inversores.Nombre</p>
        <p>Domicilio: @Model.OperacionCtaCte.CuentaCorrienteInversor.Inversores.Domicilio</p>
        <p>C.U.I.T: @Model.OperacionCtaCte.CuentaCorrienteInversor.Inversores.CUIT</p>
    </div>
    <div style="width:100%;float:left">
        <br />
        @if (@Model.OperacionCtaCte.TipoMovimiento == 2)
        {
             <p>En la Ciudad de Mendoza,Rca. Argentina. En el dia de la fecha <b>RECIBI/MOS</b>, la suma de @Model.OperacionCtaCte.Monto.ToString("C2").</p>
        }
        else
        {
              <p>En la Ciudad de Mendoza,Rca. Argentina. En el dia de la fecha <b>LIQUIDAMOS</b>, la suma de @Model.OperacionCtaCte.Monto.ToString("C2").</p>
        }
       
    </div>
    <div style="width:100%;float:left">
        <br />
        <br />
        <label>Firma:</label>
        <br />
        <br />
        <label>Aclaración:</label>
        <br />
        <br />
        <label>DNI Número:</label>
    </div>
</body>
</html>

