﻿<section class="panel">
    <div class="panel-body">
        <div class="form">
            <div class="panel-body" style="padding: 5px;">
                <div class="@Bootstrap.formgroup">
                    @Html.Label("", Resource.FechaDesde, new { @class = Bootstrap.label })
                    <div class="col-lg-9">
                        <div class="input-group m-bot15">
                            @Html.TextBox("txtFechaDesde", "", new { @id = "txtFechaDesde", @class = Bootstrap.datepicker, @Value = DateTime.Now.AddMonths(-6).ToShortDateString() })
                        </div>
                    </div>
                </div>
                <div class="@Bootstrap.formgroup">
                    @Html.Label("", Resource.FechaHasta, new { @class = Bootstrap.label })
                    <div class="col-lg-9">
                        <div class="input-group m-bot15">
                            @Html.TextBox("txtFechaHasta", "", new { @id = "txtFechaHasta", @class = Bootstrap.datepicker, @Value = DateTime.Now.ToShortDateString() })
                        </div>
                    </div>
                </div>
                <div class="@Bootstrap.formgroup">
                    <div class="col-lg-offset-3 col-lg-6">
                        <button class="btn btn-primary" type="button" onclick="imprimirResumen()" id="btnSave">@Resource.ImprimirResumen</button>
                        <button class="btn btn-danger" type="button" onclick="closePopUp()">@Resource.Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



