﻿@model MvcAppDCR.Model.UsuarioModel

@{
    ViewBag.Title = string.Format(Resource.ABMTitle, Resource.UsuarioLower);
}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
}

@section ScriptSection
{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)

    <script src="@Url.Content("~/Scripts/Site/Usuario/usuarioABM.js")"></script>
}

<section class="panel">
    <header class="panel-heading">
        @ViewBag.Title
    </header>
    <div class="panel-body">
        @using (Ajax.BeginForm("ABMUsuario", null, new AjaxOptions
        {
            HttpMethod = Constant.Ajax.Post,
            InsertionMode = InsertionMode.Replace,
            OnBegin = Constant.Ajax.JsOnBeginAjax,
            OnSuccess = Constant.Ajax.JsOnSuccessAjax
        },
        new { @class = "cmxform form-horizontal", id = "form-usuario", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()     
            @Html.HiddenFor(model => model.UsuarioMod.IdUsuario)          
            <div class="form">

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tabDatosUsuario" data-toggle="tab">
                            @Resource.DatosUsuario
                        </a>
                    </li>
                </ul>
                <br />
                <div class="tab-content">
                    <div class="tab-pane active" id="tabDatosUsuario">
                        <div class="@Bootstrap.formgroup">
                            @Html.LabelFor(model => model.UsuarioMod.Nombre, new { @class = Bootstrap.label })
                            <div class="col-lg-6">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.TextBoxFor(model => model.UsuarioMod.Nombre, new { @class = Bootstrap.input })
                                </div>
                                @Html.ValidationMessageFor(model => model.UsuarioMod.Nombre)
                            </div>
                        </div>
                        <div class="@Bootstrap.formgroup">
                            @Html.LabelFor(model => model.UsuarioMod.Apellido, new { @class = Bootstrap.label })
                            <div class="col-lg-6">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.TextBoxFor(model => model.UsuarioMod.Apellido, new { @class = Bootstrap.input })
                                </div>
                                @Html.ValidationMessageFor(model => model.UsuarioMod.Apellido)
                            </div>
                        </div>
                        <div class="@Bootstrap.formgroup">
                            @Html.LabelFor(model => model.UsuarioMod.NombreUsuario, new { @class = Bootstrap.label })
                            <div class="col-lg-6">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.TextBoxFor(model => model.UsuarioMod.NombreUsuario, new { @class = Bootstrap.input, autocomplete = "new-password" })
                                </div>
                                @Html.ValidationMessageFor(model => model.UsuarioMod.NombreUsuario)
                            </div>
                        </div>
                        <div class="@Bootstrap.formgroup">
                            @Html.LabelFor(model => model.UsuarioMod.Contrasenia, new { @class = Bootstrap.label })
                            <div class="col-lg-6">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*       
                                    </span>
                                    @Html.PasswordFor(model => model.UsuarioMod.Contrasenia, new { @class = Bootstrap.input, id = "Contrasenia", autocomplete = "new-password" })
                                    @if (Model.UsuarioMod.IdUsuario > 0)
                                    {
                                        <span class="input-group-addon">
                                            @Html.CheckBox("changecontrasenia", new { id = "changecontrasenia" })
                                        </span>
                                    }
                                </div>
                                @Html.ValidationMessageFor(model => model.UsuarioMod.Contrasenia)
                            </div>
                        </div>
                        <div class="@Bootstrap.formgroup">
                            @Html.LabelFor(model => model.UsuarioMod.Email, new { @class = Bootstrap.label })
                            <div class="col-lg-6">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.TextBoxFor(model => model.UsuarioMod.Email, new { @class = Bootstrap.input })
                                </div>
                                @Html.ValidationMessageFor(model => model.UsuarioMod.Email)
                            </div>
                        </div>
                        <div class="@Bootstrap.formgroup">
                            @Html.LabelFor(model => model.UsuarioMod.IdEmpresa, new { @class = Bootstrap.label })
                            <div class="col-lg-6">
                                <div class="input-group m-bot15">
                                    <span class="input-group-addon">*</span>
                                    @Html.DropDownListFor(model => model.UsuarioMod.IdEmpresa, (List<SelectListItem>)ViewBag.Empresas, new { @class = Bootstrap.input, Resource.Empresa })
                                </div>
                                @Html.ValidationMessageFor(model => model.UsuarioMod.IdEmpresa)
                            </div>
                        </div>
                        <div class="@Bootstrap.formgroup">
                            <label class="@Bootstrap.label">@Resource.Perfil</label>
                            <div class="col-lg-6">
                                <div class="input-group m-bot15">
                                    @(Html.EJ().Grid<Perfil>("Roles")
                                        .Datasource((IList<MvcAppDCR.Model.PerfilModel>)ViewBag.Perfiles)
                                        .AllowPaging(false)
                                        .Columns(col =>
                                        {
                                            col.Template(true)
                                                    .HeaderTemplateID("headerCheck")
                                                    .TemplateID("#chkTemplate")
                                                    .TextAlign(TextAlign.Center).Width(30).Add();
                                            col.Field("IdPerfil").HeaderText("Id").IsPrimaryKey(true).TextAlign(TextAlign.Right).Width(75).Visible(false).Add();
                                            col.Field("Nombre").HeaderText(Resource.Nombre).Add();
                                            col.Field("Selected").Visible(false).Add();
                                        }).ClientSideEvents(eve => eve.QueryCellInfo("queryCellInfo"))
                                        )
                                    @Html.EJ().ScriptManager()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="@Bootstrap.formgroup">
                    <div class="col-lg-offset-3 col-lg-6">
                        <b>
                            <label class="error-label" id="@Constant.SuccessMessages.ERROR_VAR"></label>
                        </b>
                    </div>
                </div>
                <div class="@Bootstrap.formgroup">
                    <div class="col-lg-offset-3 col-lg-6">
                        <button class="btn btn-primary" type="submit" onclick="addPerfil();">@Resource.Save</button>
                        <button class="btn btn-default" type="button" onclick="window.location = '@Url.Action("Index")'">@Resource.Cancel</button>
                    </div>
                </div>
            </div>
            @Html.Hidden("perfiles")
            @Html.Hidden("vendedoresEmpresas")
        }
    </div>
</section>
<div id="usuarioInfo"
	data-id-usuario="@Model.UsuarioMod.IdUsuario"
</div>
<script type="text/x-jsrender" id="headerCheck">
    <input type="checkbox" id="chkSelectAll" />
</script>
<script type="text/x-jsrender" id="chkTemplate">
    <input type="checkbox" id="{{:IdPerfil}}" data-selected="{{:Selected}}" perfil="true" class="row-header" />
</script>
<script type="text/x-jsrender" id="btnsVendedores">
    <button onclick="QuitarCodigoVendedor('{{:IdUsuarioVendedorEmpresa}}');" type="button" class="btn btn-danger btn-sm" title="@Resource.Delete">
        <span class="fa fa-ban"></span>
    </button>
    <div class="datosVendedor"
        data-id-usuario-vendedor-empresa="{{:IdUsuarioVendedorEmpresa}}"
        data-id-empresa="{{:IdEmpresa}}"
        data-nombre-empresa="{{:NombreEmpresa}}"
        data-codigo-vendedor="{{:CodigoVendedor}}">
    </div>
</script>
