﻿.status {
    display: block;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    min-width: 25px;
}

    .status.statusGreen {
        background-color: green;
    }

    .status.statusRed {
        background-color: #ff0000;
    }

    .status.statusBlue {
        background-color: #102b83;
    }

.statusHeader {
    text-align: center;
    background-color: gray;
    color: #fff;
    margin-right: 0px;
}

.checkStatus {
    display: block;
    background-color: green;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
}

h4 {
    background-color: #3982C1;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
}

.iconGrid {
    background-color: #082471;
    padding: 3px;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    color: #fff;
}

.imageFixed {
    position: absolute;
    background-color: #428bca !important;
    padding: 4px;
    border: 1px solid #808080;
    color: #fff;
    background-color: azure;
    cursor: pointer;
}

.control-label {
    margin-top: 5px !important;
    font-size: 11px;
}

.panel-primary > .panel-heading {
    padding: 4px 15px;
}

.e-grid .e-rowcell {
    padding: 0.4em;
}

.col-lg-7 {
    width: 65%;
    padding-left: 0px;
}

@media only screen and (device-width:768px){

    .col-lg-7 {
    
        width: 100%;
    }
}

.col-lg-4 {
    width: 34%;
    padding: 0px;
}

.e-grid .e-headercelldiv {
    font-weight: bold;
    font-size: 12px;
}

.row {
    margin-bottom: 5px;
}

.col-lg-6 {
    width: 70%;
}



.list-status {
    background-color: #CAF1CF;
    color: #000;
}


.fireStatus {
    display: block;
    background-color: #dc1e1e;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
}
