﻿@{
    ViewBag.Title = "Deudo de Factoring";

    //var create = CustomMembership.HasPermission("Cliente", (int)Enumerations.Permission.Create);
    //var edit = CustomMembership.HasPermission("Cliente", (int)Enumerations.Permission.Edit);
    //var delete = CustomMembership.HasPermission("Cliente", (int)Enumerations.Permission.Delete);
    var create = true;
    var edit = true;
    var delete = true;
}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)

    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/FacturaDeudo/list.js")"></script>
}

@Html.Partial("_ColumnCommandGridStandar", new ConfigStandarCommand
{
    UrlEdit = (edit ? Url.Action("ABMFacturaDeudo") + "/{{:IdFacturaDeudo}}" : ""),
    ActionDelete = (delete ? "Delete" : ""),
    ControllerDelete = (delete ? "FacturaDeudo" : ""),
    IdDelete = (delete ? "IdFacturaDeudo" : ""),
    ButtonFilter = "btnSearch"
})

<div class="panel">
    <div class="panel-heading">
        @ViewBag.Title
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
        @if (create)
        {
            <a role="button" class="btn btn-primary btn-primary-new" href="@Url.Action("ABMFacturaDeudo")">
                <span class="fa fa-file-o"></span>
                &nbsp; @Resource.Create Deudo
            </a>
        }
    </div>
    <div class="panel-body" style="display: none;">
        <div>
            <div class="@Bootstrap.formgroup col-sm-1">
                @Html.Label("", Resource.Nombre)
            </div>
            <div class="@Bootstrap.formgroup col-sm-3">

                @Html.TextBox("txtNombre", "", new { @id = "txtNombre", @class = Bootstrap.input })
            </div>
        </div>
        <div>
            <button id="btnSearch" type="button" class="btn btn-primary" data-loading-text="@Resource.Searching">
                <span class="fa fa-search"></span>
                &nbsp; @Resource.Search
            </button>
            <button id="btnRestore" type="button" class="btn btn-warning">
                <span class="fa fa-repeat"></span>
                &nbsp; @Resource.Restore
            </button>
        </div>
    </div>
</div>
@(Html.EJ().Grid<Cliente>("facturadeudoGrid")
            .Datasource(d => d.URL(Url.Action("GetFacturaDeudos")))
            .AllowPaging()
            .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
            .Columns(col =>
            {
                col.Field("IdCliente").HeaderText("Id").IsPrimaryKey(true).Visible(false).Width(1).Add();
                col.Field("Nombre").HeaderText(Resource.Nombre).TextAlign(TextAlign.Left).Width(4).Add();
                col.Field("CUIT").HeaderText(Resource.CUIT).TextAlign(TextAlign.Left).Width(2).Add();
                col.Field("Domicilio").HeaderText(Resource.Domicilio).TextAlign(TextAlign.Left).Width(4).Add();
    //col.Field("TelefonoFijo").HeaderText(Resource.TelefonoFijo).TextAlign(TextAlign.Left).Width(3).Add();
    col.Field("TelefonoMovil").HeaderText(Resource.TelefonoMovil).TextAlign(TextAlign.Left).Width(3).Add();
                col.Field("Email").HeaderText(Resource.Email).TextAlign(TextAlign.Left).Width(4).Add();
                col.HeaderText("")
                    .Template(true)
                    .TemplateID("#" + Constant.Partial.IDStandarTemplateCommand)
                    .TextAlign(TextAlign.Center).Width(2).Add();
            })
)
<div id="deudoInfo" data-search-url="@Url.Action("GetFacturaDeudos")">
</div>

