﻿@model Domine.View_OperacionesInversor
@{
    ViewBag.Title = Resource.BandejaDeOperaciones;
}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)

}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)
    @Scripts.Render(Constant.Bundle.Script_BandejaOperacion)

    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/Reporte/report.js")"></script>
}

@*@Html.Partial("_ColumnCommandGridStandar", new ConfigStandarCommand
    {
        ActionDelete = (delete ? "RechazarCheque" : ""),
        ControllerDelete = (delete ? "BandejaOperacion" : ""),
        IdDelete = (delete ? "IdCheque" : ""),
        ButtonFilter = "btnSearch"

    })*@

<script type="text/x-jsrender" id="template-command">
    <div class="btn-group">
        {{if ClasificacionMovimiento === 1 && Condicion===0 }}
        <a title="Imprimir" class="fa fa-print" href="javascript:imprimirDeposito('{{:IdOperacionInversor}}')"></a>
        {{/if}}
        {{if ClasificacionMovimiento === 1 && Condicion===1 }}
        <a title="Imprimir" class="fa fa-print" href="javascript:imprimirDepositoCheque('{{:IdOperacionInversor}}')"></a>
        {{/if}}
        {{if ClasificacionMovimiento ===2}}
        <a title="Imprimir" class="fa fa-print" href="javascript:imprimirExtraccionFondos('{{:IdOperacionInversor}}')"></a>
        {{/if}}
        {{if Condicion === 1}}
        <a title="Ver" class="fa fa-eye" href="javascript:vistaCheques('{{:IdOperacionInversor}}')"></a>
        {{/if}}
        {{if EstadoStr != "Cancelada" && ClasificacionMovimiento == 1}}
        <a title="Rechazar" class="fa fa-times" href="javascript:confirm('Confirmacion','¿Desea cancelar la operacion?',function(){cancelarOperacion('{{:IdOperacionInversor}}')})"></a>
        {{/if}}
    </div>
</script>

<script type="text/x-jsrender" id="template-cheques">
    <div class="btn-group">
        {{if EstadoStr != "Rechazado" }}
        <a title="Rechazar" class="fa fa-times" href="javascript:confirm('Confirmacion','¿Desea eliminar el cheque?',function(){rechazarCheque('{{:IdCheque}}')})"></a>
        {{/if}}
    </div>
</script>

@Html.AntiForgeryToken()
<div class="panel" style="margin-bottom: 0px;">
    <div class="panel-heading">
        @ViewBag.Title
        @*<span class="tools pull-right">
                <a class="fa fa-chevron-down" href="javascript:;"></a>
            </span>*@
    </div>

    <div class="panel-body" style="padding-bottom: 0px;">
        <div class="row">

            <div class="col-lg-7">

                <div class="row">
                    <div class="@Bootstrap.formgroup col-lg-6">
                        @Html.Label("", Resource.Inversores)
                        @(Html.EJ().Autocomplete("acInversor")
                        .ShowEmptyResultText()
                        .AllowAddNew(false)
                        .Datasource(u => u.URL(Url.Action("AutocompleteInversor", "AutoComplete") + "?take=30&insertarIndistinto=true&"))
                        .AutocompleteFields(f => f.Text("Text").Key("Value"))
                        .EnableAutoFill()
                        .CaseSensitiveSearch(false)
                        .ClientSideEvents(e => e.Select("autocompleteInversorSelectEvent").FocusOut("autocompleteClientLostFocustEvent"))
                        .FilterType(FilterOperatorType.Contains)
                        .HighlightSearch()
                        .MultiSelectMode(MultiSelectModeTypes.None)
                        .Width("100%"))
                        @Html.Hidden("IdInversor", "", new { @id = "IdInversor", @class = Bootstrap.input })
                    </div>

                    <div class="@Bootstrap.formgroup col-lg-3">
                        @Html.Label("", Resource.TipoMoneda)
                        <div class="input-group">
                            <span class="input-group-addon" style="padding:0px; width:35px;"><i class="fa fa-money"></i></span>
                            @Html.DropDownListFor(m => m.TipoMoneda,
                                        EnumHelper.GetSelectList(typeof(TipoMoneda)),
                                        new { @id = "txtTipoMoneda", @class = Bootstrap.input })
                        </div>
                    </div>

                    <div class="@Bootstrap.formgroup col-lg-3">
                        @Html.Label("", "Tipo Operacion")
                        <div class="input-group">
                            <span class="input-group-addon" style="padding:0px; width:35px;"><i class="fa fa-money"></i></span>
                            @Html.DropDownListFor(m => m.Condicion,
                                        EnumHelper.GetSelectList(typeof(Condicion)), "Todos",
                                        new { @id = "txtCondicion", @class = Bootstrap.input })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="@Bootstrap.formgroup col-lg-3">
                        @Html.Label("", Resource.FechaDesde)
                        <div class="input-group">
                            <span class="input-group-addon" style="padding:0px; width:35px;"><i class="fa fa-calendar"></i></span>
                            @Html.TextBox("txtFechaDesde", DateTime.Now.AddDays(-7), "{0:dd/MM/yyyy}", new { @id = "txtFechaDesde", @class = Bootstrap.input })
                        </div>
                    </div>

                    <div class="@Bootstrap.formgroup col-lg-3">
                        @Html.Label("", Resource.FechaHasta)
                        <div class="input-group">
                            <span class="input-group-addon" style="padding:0px; width:35px;"><i class="fa fa-calendar"></i></span>
                            @Html.TextBox("txtFechaHasta", DateTime.Now, "{0:dd/MM/yyyy}", new { @id = "txtFechaHasta", @class = Bootstrap.input })
                        </div>
                    </div>

                    <div class="@Bootstrap.formgroup col-lg-3">
                        @Html.Label("", Resource.Estado)
                        @Html.DropDownList("IdEstadoFiltro", new SelectList(ViewBag.Estados as List<KeyValuePair<int, string>>, "Key", "Value"), "Todos", new { id = "IdEstadoFiltro", @class = "form-control", style = "width:100%" })
                    </div>
                </div>

                

                <div style="margin-left:1%; margin-top:2%;" class="row">
                    <button id="btnSearch" type="button" class="btn btn-primary" data-loading-text="@Resource.Searching">
                        <span class="fa fa-search"></span>
                        &nbsp; @Resource.Search
                    </button>
                    <button id="btnRestore" type="button" class="btn btn-warning">
                        <span class="fa fa-repeat"></span>
                        &nbsp; @Resource.Restore
                    </button>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        @Resource.ResumenCuenta
                    </div>
                    <div class="@Bootstrap.formgroup" style="margin-top:5px;">
                        <div class="col-lg-5">
                            <label>@Resource.Nombre:</label>
                        </div>
                        <label style="font-weight:normal" id="label-nombre"></label>
                    </div>
                    <div class="@Bootstrap.formgroup">
                        <div class="col-lg-5">
                            <label>@Resource.CUIT:</label>
                        </div>
                        <label style="font-weight:normal" id="label-cuit"></label>
                    </div>
                    <div class="@Bootstrap.formgroup">
                        <div class="col-lg-5">
                            <label>@Resource.NumeroCuenta:</label>
                        </div>
                        <label style="font-weight:normal" id="label-numero"></label>
                    </div>
                    <div class="@Bootstrap.formgroup">
                        <div class="col-lg-5">
                            <label>@Resource.Saldo:</label>
                        </div>
                        <label style="font-weight:normal" id="label-saldo"></label>
                    </div>
                </div>
            </div>
        </div>

        <br />



    </div>
</div>
@(Html.EJ().Grid<View_OperacionesInversor>("bandejaOperaciones")
    .Datasource(d => d.URL(Url.Action("GetBandejaOperacion")))
    .AllowPaging()
    .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
    .Columns(col =>
    {
        col.Field("IdOperacionInversor").HeaderText("N°").IsPrimaryKey(true).Width(1).Add();
        col.Field("Fecha").Format("{0:dd/MM/yyyy}").HeaderText(Resource.Fecha).TextAlign(TextAlign.Left).Width(2).Add();
        col.Field("TasaAplicadaStr").HeaderText("% Tasa").TextAlign(TextAlign.Left).Width(1).Add();
        col.Field("TipoMovimientoStr").HeaderText("Tipo").TextAlign(TextAlign.Left).Width(1).Add();
        col.Field("CondicionStr").HeaderText("Condición").TextAlign(TextAlign.Left).Width(2).Add();
        col.Field("ClasificacionMovimientoStr").HeaderText("Operación").TextAlign(TextAlign.Left).Width(2).Add();
        col.Field("MontoStr").HeaderText("Monto").TextAlign(TextAlign.Left).Width(2).Add();
        col.Field("EstadoStr").HeaderText("Estado").TextAlign(TextAlign.Left).Width(2).Add();
        col.Field("Observaciones").HeaderText("Observaciones").TextAlign(TextAlign.Left).Width(5).Add(); ;
        col.HeaderText("")
            .Template(true)
            .TemplateID("#template-command")
            .TextAlign(TextAlign.Center).Width(1).Add();
        col.Field("ClasificacionMovimiento").Visible(false);
        col.Field("Condicion").Visible(false);
    })
)
<div id="bandejaOperacionInfo"
     data-search-url="@Url.Action("GetBandejaOperacion")"
     data-report-url="@Url.Action("ReporteDeposito")"
     data-nombre-reporte="Reporte Deposito Efectivo"
     data-report-urlch="@Url.Action("ReporteDepositoCheque")"
     data-nombre-reportech="Reporte Deposito Cheque"
     data-report-fondos="@Url.Action("ExtraccionReporte")"
     data-nombre-fondos="Reporte Extraccion Fondos"
     data-cancelar="@Url.Action("CancelarOperacion")">
</div>

<div id="modalCheques" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cheques de Operacion</h4>
            </div>
            <div class="modal-body">
                @(Html.EJ().Grid<Cheque>("bandejaCheque")
                    .Datasource(d => d.URL(Url.Action("GetChequesOp")))
                    .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
                    .Columns(col =>
                    {
                        col.Field("Numero").HeaderText("Numero").TextAlign(TextAlign.Center).Width(1).Add();
                        col.Field("BancoStr").HeaderText("Banco").TextAlign(TextAlign.Center).Width(3).Add();
                        col.Field("FechaVencimiento").Format("{0:dd/MM/yyyy}").HeaderText("Fecha Vencimiento").TextAlign(TextAlign.Center).Width(2).Add();
                        col.Field("Monto").Format("{0:C2}").HeaderText("Monto").TextAlign(TextAlign.Center).Width(1).Add();
                        col.Field("EstadoStr").HeaderText("Estado").TextAlign(TextAlign.Center).Width(2).Add();
                        col.Field("IdCheque").Visible(false);
                    })
                )
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="bandejaChequesInfo"
     data-search-url="@Url.Action("GetChequesOp")"
     data-rechazar="@Url.Action("RechazarCheque")"
     data-nombre-rechazar="Rechazar Cheque">
</div>