﻿@model   Domine.Dto.DtoOperacionAprobacion

@{
    ViewBag.Title = string.Format(Resource.ABMTitle, Resource.BancoLower);
}
@Html.Partial("_ColumnCommandGridOperaciones", new ConfigStandarCommand
{
    UrlEdit = "EditDetalleAprobacion",
    ShowDelete = false,
    ControllerDelete = "Operacion",
    IdDelete = "Id"
})

<script type="text/x-jsrender" id="templateStatus">
    <span><i class="fa fa-check checkStatus" style="display:{{:Rechazados==0 ? 'block' : 'none'}}"></i></span>
    <a href="javascript:showMotivos('{{:IDKey}}')"><i class="fa fa-warning fireStatus" style="display:{{:Rechazados > 0 ? 'block' : 'none'}}"></i></a>
</script>
@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
    @Styles.Render(Constant.Bundle.CSS_Operaciones)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)
    @Scripts.Render(Constant.Bundle.Script_OperacionAprobacion)
    @Scripts.Render(Constant.Bundle.Script_Banco)
    @Scripts.Render(Constant.Bundle.Script_Autocomplete)
    @Scripts.Render(Constant.Bundle.Script_DateTimeFormat)
}
<div class="col-lg-7">
    <div class="panel panel-primary">
        <header class="panel-heading">
            @Resource.Operacion
        </header>
        <div class="panel-body">
            <div class="col-lg-8" style="padding: 0px;border-right: solid 1px;padding-right: 5px;">
                @using (Ajax.BeginForm("FinalizarOperacion", "Operacion", new AjaxOptions { OnBegin = Constant.Ajax.JsOnBeginAjax, OnFailure = Constant.Ajax.JsOnError, OnSuccess = "onSuccessFinishOperation(data)", HttpMethod = "POST" }, new { id = "frmSave" }))
    {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="row">
                <label class="col-lg-3 col-sm-3 control-label">@Resource.Fecha @Resource.Operacion</label>
                <div class=col-md-8>
                    @Html.LabelFor(p => p.Fecha, (Model.Fecha == default(DateTime) ? DateTime.Now : Model.Fecha).ToString("dd/MM/yy HH:mm"))
                    @Html.HiddenFor(p => p.Fecha)
                </div>
            </div>
            <div class="row">
                <label class="col-lg-3 col-sm-3 control-label">@Resource.Cliente</label>
                <div class=col-md-9>
                    @Html.TextBoxFor(model => model.Cliente, new { @class = "form-control", style = "width:100%; text-transform: uppercase;font-size: smaller;" }).Disable(true)
                </div>
            </div>
            <div class="row">
                <label class="col-lg-3 col-sm-3 control-label">@Resource.Observaciones</label>
                <div class=col-md-9>
                    @Html.TextAreaFor(p => p.Observacion, new { rows = 4, @class = "form-control", style = "width:100%; text-transform: uppercase;" }).Disable(true)
                </div>
            </div>
            <div class="row">
                <label class="col-lg-3 col-sm-3 control-label">@Resource.ObsEvaluacion</label>
                <div class=col-md-9>
                    @Html.TextAreaFor(p => p.ObservacionEvaluacion, new { rows = 4, @class = "form-control", style = "width:100%; text-transform: uppercase;" })
                </div>
            </div>
            <div class="row">
                <label class="col-lg-3 col-sm-3 control-label">Sesion</label>
                <div class=col-md-9>
                    @Html.TextBoxFor(p => p.Sesion, new { rows = 4, @class = "form-control", style = "width:100%; text-transform: uppercase;" }).Disable(true)
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(model => model.IdEstado, new { @class = "col-lg-3 col-sm-3 control-label" })
                <div class=col-md-9>
                    @Html.DropDownListFor(model => model.IdEstado, new SelectList(ViewBag.Estados as List<KeyValuePair<int, string>>, "Key", "Value"), new { @class = "form-control list-status", style = "width:100%" })
                    @Html.ValidationMessageFor(model => model.IdEstado)
                </div>
            </div>
            <div style="float:left;margin-right:10px">
                <button class=" btn btn-primary" onclick="return confirmChangeStatus()">@Resource.Finalizar</button>
            </div>

}

                <div>
                    @using (Html.BeginForm("bandejaaprobacion", "Operacion", FormMethod.Post, new { style = "display:inline-block" }))
        {
            @Html.AntiForgeryToken()
            <div style="display:inline-block">
                <button class="btn btn-danger">@Resource.Cancel</button>
            </div>
}
                </div>
            </div>
            <div style="display: inline-block;margin-left: 26px;font-size: x-large;width:25%">
                <label style="font-weight:normal" id="label-saldo">$@Model.Saldo</label>
            </div>
            <div class="col-lg-3" style="padding: 0px;padding-left: 5px;">
                <h4>@Resource.ResumenCuenta</h4>
                <div>
                    <label style="width:80px">@Resource.Cheques:</label>
                    <label style="font-weight:normal" id="label-cheques">-</label>
                </div>
                <div>
                    <label style="width:80px">@Resource.Importe:</label>
                    <label style="font-weight:normal" id="label-importe">-</label>
                </div>
                <div>
                    <label style="width:80px">@Resource.Aprobado:</label>
                    <label style="font-weight:normal" id="label-importeApr">-</label>
                </div>
                <h4>@Resource.Historial</h4>
                <div>
                    <label>@Resource.ImporteChequeRechazados:</label>
                    <label style="font-weight:normal;color:red" id="label-cheques-rechazados">$@Model.MontoRechazos</label>
                </div>
                <div>
                    <label style="width:135px">@Resource.CantidadChequeRechazados:</label>
                    <label style="font-weight:normal;color:red" id="label-cheques-cantidad-rechazados">@Model.CantidadRechazos</label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <header class="panel-heading">
            @Resource.DatosCheque
        </header>
        <div class="panel-body" style="padding: 2px;">
            @(Html.EJ().Grid<Object>
                ("cheques")
                .Datasource(d => d.URL(Url.Action("GetCheques") + "?IDKey=" + ViewBag.IdOperacion + "&"))
                .AllowPaging(false)
                .Columns(col =>
                {
                    col.Field("IDKey").Visible(false).Add();
                    col.Field("Id").Visible(false).Add();
                    col.Field("Numero").HeaderText("Nro").TextAlign(TextAlign.Center).Width(120).Add();
                    col.Field("Banco").HeaderText("Banco").TextAlign(TextAlign.Center).Width(120).Add();
                    col.Field("Monto").Format("{0:C2}").Format("{0:c2}").HeaderText("Importe").Width(100).TextAlign(TextAlign.Right).Add();
                    col.Field("MontoAprobado").Format("{0:C2}").Format("{0:c2}").HeaderText("Imp. Calculado").Width(100).TextAlign(TextAlign.Right).Add();
                    col.Field("TasaInteres").Format("{0:p2}").HeaderText("Tasas").Width(70).TextAlign(TextAlign.Right).Add();
                    col.Field("Gastos").Format("{0:p2}").HeaderText("Gastos").Width(70).TextAlign(TextAlign.Right).Add();
                    col.Field("EstadoStr").HeaderText("Estado").Width(90).TextAlign(TextAlign.Center).Add();
                    col.HeaderText("")
                    .Template(true)
                    .TemplateID("#" + Constant.Partial.IDStandarTemplateCommand)
                    .TextAlign(TextAlign.Center).Width(40).Add();
                    col.HeaderText("")
                    .Template(true)
                    .TemplateID("#templateStatus")
                    .TextAlign(TextAlign.Center).Width(40).Add();
                    col.Field("Rechazados").Visible(false).Add();
                }).ClientSideEvents(cliente => cliente.ActionComplete("actionComplete"))
            )
        </div>
    </div>
    @Html.EJ().ScriptManager()
</div>
<div class="col-lg-4">
    <div class="panel panel-primary">
        <header class="panel-heading">
            @Resource.DatosCheque
        </header>
        <div class="panel-body" style="padding-left:5px">
            @using (Ajax.BeginForm("SaveDetalleOperacionAprobacion", "Operacion", new AjaxOptions { OnBegin = Constant.Ajax.JsOnBeginAjax, OnFailure = Constant.Ajax.JsOnError, OnSuccess = "updateGrid(data)", HttpMethod = "POST" }, new { id = "form-cheques" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.DetalleOperacion.Id)
                @Html.Hidden("EstadoOperacion")
                <div id="data-cheque" disabled="true">
                    <div class="row">
                        @Html.LabelFor(model => model.DetalleOperacion.IdBanco, new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class=col-md-10>
                            <select name="@Html.NameFor(model=> model.DetalleOperacion.IdBanco)"
                                    id="@Html.IdFor(model=> model.DetalleOperacion.IdBanco)"
                                    class="form-control" onchange="onChangeBanco()">
                                @foreach (var banck in ViewBag.Bancos as List<Banco>)
                                {
                                <option value="@banck.IdBanco"
                                        @((Model.DetalleOperacion != null && banck.IdBanco == Model.DetalleOperacion.IdBanco && Model.DetalleOperacion.IdBanco > 0 ? "selected" : ""))
                                        data-code="@banck.Codigo">
                                    @banck.Nombre
                                </option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.DetalleOperacion.IdBanco)
                            @Html.HiddenFor(model => model.DetalleOperacion.Banco)
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.DetalleOperacion.SucursalEmision, new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class=col-md-10>
                            @Html.TextBoxFor(model => model.DetalleOperacion.SucursalEmision, new { @class = "form-control", style = "width:100%; text-transform: uppercase;" })
                            @Html.ValidationMessageFor(model => model.DetalleOperacion.SucursalEmision)
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.DetalleOperacion.Cp, new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class=col-md-10>
                            @Html.TextBoxFor(model => model.DetalleOperacion.Cp, new { @class = "form-control", style = "width:100%; text-transform: uppercase;" })
                            @Html.ValidationMessageFor(model => model.DetalleOperacion.Cp)
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.DetalleOperacion.Numero, new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class=col-md-10>
                            @Html.TextBoxFor(model => model.DetalleOperacion.Numero, new { @class = "form-control", style = "width:100%; text-transform: uppercase;" })
                            @Html.ValidationMessageFor(model => model.DetalleOperacion.Numero)
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.DetalleOperacion.NumeroCuenta, new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class=col-md-10>
                            @Html.TextBoxFor(model => model.DetalleOperacion.NumeroCuenta, new { @class = "form-control", style = "width:100%; text-transform: uppercase;" })
                            @Html.ValidationMessageFor(model => model.DetalleOperacion.NumeroCuenta)
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.DetalleOperacion.TitularCuenta, new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class=col-md-10>
                            @Html.TextBoxFor(model => model.DetalleOperacion.TitularCuenta, new { @class = "form-control", style = "width:100%; text-transform: uppercase;" })
                            @Html.ValidationMessageFor(model => model.DetalleOperacion.TitularCuenta)
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.DetalleOperacion.FechaVencimiento, new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class=col-md-10>
                            <div class="input-group">
                                <span class="input-group-addon" style="padding:0px;width:35px"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(model => model.DetalleOperacion.FechaVencimiento, new { @class = "form-control", style = "width:80%" })
                            </div>
                            @Html.ValidationMessageFor(model => model.DetalleOperacion.FechaVencimiento)
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.DetalleOperacion.MontoStr, new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class=col-md-10>
                            <div class="input-group">
                                <span class="input-group-addon" style="padding:0px;width:35px">$</span>
                                @*@Html.TextBoxFor(model => model.DetalleOperacion.MontoStr, new { @class = "form-control", style = "width:80%", type = "number", step = "any" })*@
                                @Html.TextBoxFor(model => model.DetalleOperacion.MontoStr, new { @class = "form-control", style = "width:80%" })
                            </div>
                            @Html.ValidationMessageFor(model => model.DetalleOperacion.MontoStr)
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.DetalleOperacion.CMC7, new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class=col-md-10>
                            @Html.TextBoxFor(model => model.DetalleOperacion.CMC7, new { @class = "form-control", style = "width:100%; text-transform: uppercase;", @readonly = "true" })
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-lg-5">
                                <button id="enable-edit" class="btn btn-default" onclick="activateEdit(); return false;">
                                    @Resource.Edit
                                    <i class="fa fa-save"></i>
                                </button>
                            </div>
                        </div>*@
                </div>
                <hr />
                <div id="data-aprobacion" disabled="true">
                    <div class="row">
                        @Html.LabelFor(model => model.DetalleOperacion.DiasClearing, new { @class = "col-lg-3 col-sm-3 control-label", style = "padding-right: 0px;" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.DetalleOperacion.DiasClearing, new { @class = "form-control", style = "width:40%", type = "number" , @readonly = true  })
                            @*@Html.HiddenFor(model => model.DetalleOperacion.DiasClearingHidden)*@
                            @Html.ValidationMessageFor(model => model.DetalleOperacion.DiasClearing)
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.DetalleOperacion.Gastos, new { @class = "col-lg-3 col-sm-2 control-label", style = "padding-right: 0px;" })
                        <div class=col-md-8>
                            <div class="input-group">
                                <span class="input-group-addon" style="padding:0px;width:35px">%</span>
                                @*@Html.TextBoxFor(model => model.DetalleOperacion.GastoStr, new { @class = "form-control importe", style = "width:60%" })*@
                                @*@Html.TextBoxFor(model => model.DetalleOperacion.GastoStr, new { @class = "form-control ", style = "width:60%", type = "number" })*@
                                @Html.TextBoxFor(model => model.DetalleOperacion.GastoStr, new { @class = "form-control ", style = "width:60%" })
                            </div>
                            @Html.ValidationMessageFor(model => model.DetalleOperacion.GastoStr)
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.DetalleOperacion.Tasa, new { @class = "col-lg-3 col-sm-3 control-label", style = "padding-right: 0px;" })
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding:0px;width:35px">%</span>
                                @*@Html.TextBoxFor(model => model.DetalleOperacion.TasaStr, new { @class = "form-control importe", style = "width:60%" })*@
                                @*@Html.TextBoxFor(model => model.DetalleOperacion.TasaStr, new { @class = "form-control", style = "width:60%", type = "number" })*@
                                @Html.TextBoxFor(model => model.DetalleOperacion.TasaStr, new { @class = "form-control", style = "width:60%" })
                            </div>
                            @Html.ValidationMessageFor(model => model.DetalleOperacion.TasaStr)
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.DetalleOperacion.MontoAprobado, new { @class = "col-lg-3 col-sm-2 control-label", style = "padding-right: 0px;" })
                        <div class=col-md-8>
                            <div class="input-group">
                                <span class="input-group-addon" style="padding:0px;width:35px">$</span>
                                @Html.TextBoxFor(model => model.DetalleOperacion.MontoAprobado, new { @class = "form-control", style = "width:60%", type = "number" }).Disable(true)
                            </div>
                            @Html.ValidationMessageFor(model => model.DetalleOperacion.MontoAprobado)
                        </div>
                    </div>
                    <div class="row" style="text-align:center;display:none">
                        <b id="det-calculo"></b>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.DetalleOperacion.Observacion, new { @class = "col-lg-3 col-sm-2 control-label", style = "padding-right: 0px;" })
                        <div class=col-md-9>
                            @Html.TextAreaFor(model => model.DetalleOperacion.Observacion, new { @class = "form-control", rows = 3 })
                            @Html.ValidationMessageFor(model => model.DetalleOperacion.Observacion)
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.DetalleOperacion.Estado)
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <button class="btn btn-default" type="submit">@Resource.Save <i class="fa fa-save"></i></button>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-success" type="submit" onclick="$('#EstadoOperacion').val(3)">@Resource.Aprobar <i class="fa fa-check"></i></button>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-danger" type="submit" onclick="$('#EstadoOperacion').val(4)">@Resource.Rechazar <i class="fa fa-remove"></i></button>
                    </div>
                </div>
                    <div class="row" style="text-align:center;border:solid 1px #000;margin-left: 0px;">
                        <a class="imageFixed" style="left: 7px;" href="javascript:expandImage('#imgCheque1')">
                            <i class="fa fa fa-expand"></i>
                        </a>
                        <img id="imgCheque1" style="width:100%;" src="~/Content/Images/no-Imagen.png" />
                    </div>
                    <div class="row" style="text-align:center;border:solid 1px #000;margin-left: 0px;">
                        <a class="imageFixed" style="left: 7px;" href="javascript:expandImage('#imgCheque2')">
                            <i class="fa fa fa-expand"></i>
                        </a>
                        <img id="imgCheque2" style="width:100%" src="~/Content/Images/no-Imagen.png" />
                    </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-motivos" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-md">
        <div class="modal-content">
            @Html.Partial("_GridMotivosRechazos")
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-expand-image" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <img id="imgExpand" style="width:100%; max-width:1024px" />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Close</button>
            </div>
        </div>
    </div>
</div>

