﻿@model  Domine.Dto.DtoOperacion

@{
    ViewBag.Title = string.Format(Resource.ABMTitle, Resource.BancoLower);
}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
    @Styles.Render(Constant.Bundle.CSS_Operaciones)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)
    @Scripts.Render(Constant.Bundle.Script_OperacionAprobacion)
    @Scripts.Render(Constant.Bundle.Script_Banco)
    @Scripts.Render(Constant.Bundle.Script_Autocomplete)
    @Scripts.Render(Constant.Bundle.Script_DateTimeFormat)
}
<script type="text/x-jsrender" id="template-command">
    <div class="btn-group">
        {{if (ImagenFront !== null && ImagenFront !== 'no-Imagen.png') && (ImagenBack!== null && ImagenBack !== 'no-Imagen.png') }}
        <a title="Imagen" class="fa fa-image status statusGreen" href="javascript:showImagen('{{:ImagenFront}}','{{:ImagenBack}}')"></a>
        {{/if}}
    </div>
</script>

<div class="col-lg-12">
    <div class="panel panel-primary">
        <header class="panel-heading">
            @Resource.Operacion
        </header>
        <div class="panel-body">
            <div class="col-lg-9" style="padding: 0px;border-right: solid 1px;padding-right: 5px;">
                <div class="row statusHeader">
                    <h5>@Model.EstadoStr</h5>
                </div>
                <div class="row">
                    <label class="col-lg-2 col-sm-2 control-label">@Resource.Fecha</label>
                    <div class=col-md-8>
                        @Html.LabelFor(p => p.Fecha, (Model.Fecha == default(DateTime) ? DateTime.Now : Model.Fecha).ToString("dd/MM/yy HH:mm"))
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-2 col-sm-2 control-label">@Resource.Cliente</label>
                    <div class=col-md-8>
                        @Html.TextBoxFor(model => model.Cliente, new { @class = "form-control", style = "width:100%; text-transform: uppercase;" }).Disable(true)
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-2 col-sm-2 control-label">@Resource.Observaciones</label>
                    <div class=col-md-8>
                        @Html.TextAreaFor(p => p.Observacion, new { rows = "5", @class = "form-control", style = "width:100%; text-transform: uppercase;" }).Disable(true)
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-2 col-sm-2 control-label">@Resource.ObsEvaluacion</label>
                    <div class=col-md-8>
                        @Html.TextAreaFor(p => p.ObservacionEvaluacion, new { rows = "5", @class = "form-control", style = "width:100%; text-transform: uppercase;" }).Disable(true)
                    </div>
                </div>

                <div class="row">
                    <label class="col-lg-2 col-sm-2 control-label">Sesion</label>
                    <div class=col-md-8>
                        @Html.TextBoxFor(p => p.Sesion, new { rows = "5", @class = "form-control", style = "width:100%; text-transform: uppercase;" }).Disable(true)
                    </div>
                </div>


                <div>
                    @using (Html.BeginForm("Volver", "Operacion", new { bandeja = ViewBag.Url }, FormMethod.Post, new { style = "display:inline-block" }))
        {
            @Html.AntiForgeryToken()
            <div style="display:inline-block">
                <button class="btn btn-danger">@Resource.Volver</button>
            </div>
}
                </div>
            </div>
            <div class="col-lg-3" style="padding: 0px;padding-left: 5px;">
                <h4>@Resource.ResumenCuenta</h4>
                <div>
                    <label style="width:100px">@Resource.Saldo:</label>
                    <label style="font-weight:normal" id="label-saldo">$@Model.Saldo</label>
                </div>            
                <div>
                    <label style="width:100px">@Resource.Cheques:</label>
                    <label style="font-weight:normal" id="label-cheques">-</label>
                </div>
                <div>
                    <label style="width:100px">@Resource.Importe:</label>
                    <label style="font-weight:normal" id="label-importe">-</label>
                </div>
                <div>
                    <label style="width:100px">@Resource.Aprobado:</label>
                    <label style="font-weight:normal" id="label-importeApr">-</label>
                </div>
                <hr />
                <h4>@Resource.Historial</h4>
                <div>
                    <label style="width:140px">@Resource.ImporteChequeRechazados:</label>
                    <label style="font-weight:normal;color:red" id="label-cheques-rechazados">$@Model.MontoRechazos</label>
                </div>
                <div>
                    <label style="width:140px">@Resource.CantidadChequeRechazados:</label>
                    <label style="font-weight:normal;color:red" id="label-cheques-cantidad-rechazados">@Model.CantidadRechazos</label>
                </div>                  
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <header class="panel-heading">
            @Resource.DatosCheque
        </header>
        <div class="panel-body" style="padding: 2px;">
            @(Html.EJ().Grid<Object>
                ("cheques")
                .Datasource(d => d.URL(Url.Action("GetCheques") + "?IDKey=" + Request["IDKey"] + "&"))
                .AllowPaging(false)
                .Columns(col =>
                {
                    col.Field("ImagenFront").Visible(false).Add();
                    col.Field("ImagenBack").Visible(false).Add();
                    col.Field("Estado").Visible(false).Add();
                    col.Field("Id").Visible(false).Add();
                    col.Field("Numero").HeaderText("Nro").TextAlign(TextAlign.Center).Width(120).Add();
                    col.Field("Banco").HeaderText("Banco").TextAlign(TextAlign.Center).Width(120).Add();
                    col.Field("Monto").Format("{0:C2}").Format("{0:c2}").HeaderText("Importe").Width(100).TextAlign(TextAlign.Right).Add();
                    col.Field("MontoAprobado").Format("{0:C2}").Format("{0:c2}").HeaderText("Aprobado").Width(100).TextAlign(TextAlign.Right).Add();
                    col.Field("TasaInteres").Format("{0:p2}").HeaderText("Tasas").Width(70).TextAlign(TextAlign.Right).Add();
                    col.Field("EstadoStr").HeaderText("Estado").Width(90).TextAlign(TextAlign.Center).Add();
                    col.HeaderText("")
                  .Template(true)
                  .TemplateID("#template-command")
                  .TextAlign(TextAlign.Center).Width(40).Add();
                }).ClientSideEvents(cliente => cliente.ActionComplete("actionComplete"))
            )
        </div>
    </div>
    @Html.EJ().ScriptManager()
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-expand-image" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content" style="text-align:center;padding:10px">
            <div style="margin-top:10px; border:solid 1px;padding:10px">
                <img id="imgFront" style="width:100%; max-width:650px;max-height:300px;display:none" />
            </div>
    <br />
            <div style="border:solid 1px;padding:10px">
                <img id="imgBack" style="width:100%; max-width:650px;max-height:300px;display:none" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Close</button>
            </div>
        </div>
    </div>
</div>
