﻿@{
    ViewBag.Title = "Parametros";
        
    var create = true;
    var edit = true;
    var delete = false;
}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)
}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)

    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/Parametro/list.js")"></script>
}

@Html.Partial("_ColumnCommandGridStandar", new ConfigStandarCommand
{
    UrlEdit = (edit ? Url.Action("ABMParametro") + "/{{:Id}}" : ""),
    ActionDelete = (delete ? "Delete" : ""),
    ControllerDelete = (delete ? "Parametro" : ""),
    IdDelete = (delete ? "Id" : ""),
    ButtonFilter = "btnSearch"
})

<div class="panel">
    <div class="panel-heading">
        @ViewBag.Title
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
        @if (create)
        {
            <a role="button" class="btn btn-primary btn-primary-new" href="@Url.Action("ABMParametro")">
                <span class="fa fa-file-o"></span>
                &nbsp; @Resource.Create Parametro
            </a>
        }
    </div>
    <div class="panel-body" style="display: none;">
        <div class="row">
            <div class="@Bootstrap.formgroup col-sm-3">
                @Html.Label("", Resource.Nombre)
                @Html.TextBox("txtNombre", "", new { @id = "txtNombre", @class = Bootstrap.input })
            </div>
        </div>
        <div>
            <button id="btnSearch" type="button" class="btn btn-primary" data-loading-text="@Resource.Searching">
                <span class="fa fa-search"></span>
                &nbsp; @Resource.Search
            </button>
            <button id="btnRestore" type="button" class="btn btn-warning">
                <span class="fa fa-repeat"></span>
                &nbsp; @Resource.Restore
            </button>
        </div>
    </div>
</div>
@(Html.EJ().Grid<Banco>("parametroGrid")
        .Datasource(d => d.URL(Url.Action("GetParametros")))
        .AllowPaging()
        .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
        .ClientSideEvents(events => events.ActionBegin("actionComplete"))
        .Columns(col =>
        {
            col.Field("Id").HeaderText("Id").IsPrimaryKey(true).Width(1).Visible(false).Add();
            col.Field("Codigo").HeaderText("Código").TextAlign(TextAlign.Left).Width(4).Add();
            col.Field("Nombre").HeaderText(Resource.Nombre).TextAlign(TextAlign.Left).Width(4).Add();
            col.Field("Valor").HeaderText("Valor").TextAlign(TextAlign.Left).Width(4).Add();
            col.HeaderText("")
                .Template(true)
                .TemplateID("#" + Constant.Partial.IDStandarTemplateCommand)
                .TextAlign(TextAlign.Center).Width(1).Add();
        })
)
<div id="parametroInfo" data-search-url="@Url.Action("GetParametros")">
</div>

