﻿@model  Domine.Dto.DtoFacturaOperacion

@{
    ViewBag.Title = string.Format(Resource.ABMTitle, Resource.Clientes);
    ViewBag.PopUp = ViewData["PopUp"];

   
}


@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)
    @Scripts.Render(Constant.Bundle.Script_FacturaOperacion)   
    @Scripts.Render(Constant.Bundle.Script_Autocomplete)
    @Scripts.Render(Constant.Bundle.Script_DateTimeFormat)
}

<section class="panel">
    @if (!ViewBag.PopUp)
    {
        <header class="panel-heading">
            @ViewBag.Title
        </header>
    }
        <div class="panel-body">
            @*@using (Ajax.BeginForm("ABMFacturaOperacion", "FacturaOperacion", null, new AjaxOptions
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnBegin = Constant.Ajax.JsOnBeginAjax,
            OnSuccess = !ViewBag.PopUp ? Constant.Ajax.JsOnSuccessAjax : "successPopUp"
        },
            new { @class = "cmxform form-horizontal", id = "form-cliente", autocomplete = "off" }))
        {*@

            @using (Html.BeginForm("ABMFacturaOperacion", "FacturaOperacion", FormMethod.Post, new { @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IdFacturaOperacion)
        <div class="form">

            <div class="row">

                <div class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">Factura</div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.IdFacturaCliente, new { @class = Bootstrap.label })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.DropDownListFor(model => model.IdFacturaCliente, new SelectList(ViewBag.Clientes, "Value", "Text"), new { @class = Bootstrap.input })
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.IdFacturaDeudo, new { @class = Bootstrap.label })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.DropDownListFor(model => model.IdFacturaDeudo, new SelectList(ViewBag.Deudos, "Value", "Text"), new { @class = Bootstrap.input })
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.FacturaNumero, new { @class = Bootstrap.label })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.FacturaNumero, new { @class = Bootstrap.input })
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.FacturaFecha, new { @class = Bootstrap.label })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.FacturaFecha, "{0:dd/MM/yyyy}", new { @class = Bootstrap.input })
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.FacturaMonto, new { @class = Bootstrap.label })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.FacturaMonto, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01", onblur = "CalcularDemoraPosible()" })
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.FacturaRetencion, new { @class = Bootstrap.label })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.FacturaRetencion, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01", onblur = "CalcularDemoraPosible()" })
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.FacturaFechaCobro, new { @class = Bootstrap.label, style = "width:100px;text-align: left" })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.FacturaFechaCobro, "{0:dd/MM/yyyy}", new { @class = Bootstrap.input })
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.FacturaImagen, new { @class = Bootstrap.label })
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @*<input type="file" name="file" id="file" class="form-control" />*@
                                            <input type="file" name="@Html.NameFor(model=>model.FacturaImagen)" id="@Html.IdFor(model=>model.FacturaImagen)" class="form-control" />
                                        </div>
                                    </div>

                                </div>

                            </div>
                            
                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.FacturaOperacionEstado, new { @class = Bootstrap.label })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.DropDownListFor(model => model.FacturaOperacionEstado, new SelectList(ViewBag.Estados, "Value", "Text"), new { @class = Bootstrap.input })
                                        </div>
                                    </div>
                                </div>

                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.IdFacturaVendedor, new { @class = Bootstrap.label })
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.DropDownListFor(model => model.IdFacturaVendedor, new SelectList(ViewBag.Vendedores, "Value", "Text"), new { @class = Bootstrap.input })
                                        </div>
                                    </div>
                                </div>
                            </div>                         


                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">Gastos</div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.Escribania, new { @class = Bootstrap.label })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.Escribania, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01", onblur = "CalcularTotalGasto()" })
                                        </div>
                                    </div>


                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.Transcripcion, new { @class = Bootstrap.label })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.Transcripcion, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01", onblur = "CalcularTotalGasto()" })
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.Protocolizacion, new { @class = Bootstrap.label })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.Protocolizacion, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01", onblur = "CalcularTotalGasto()" })
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.Sello, new { @class = Bootstrap.label })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.Sello, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01", onblur = "CalcularTotalGasto()" })
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.TotalGasto, new { @class = Bootstrap.label })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            @Html.TextBoxFor(model => model.TotalGasto, new { @class = Bootstrap.input, @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.DiasDemora, new { @class = Bootstrap.label })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.DiasDemora, new { @class = Bootstrap.input, type = "number", min = "0", step = "1", onblur = "CalcularDemoraPosible()" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.GastoFijo, new { @class = Bootstrap.label, style = "width:150px;text-align: left"})
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.GastoFijo, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01", @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.ImpCheque, new { @class = Bootstrap.label, style = "width:150px;text-align: left" })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.ImpCheque, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01", onblur= "GastosFijos()" })
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.GastoOtorgamiento, new { @class = Bootstrap.label, style = "width:150px;text-align: left" })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.GastoOtorgamiento, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01", onblur= "GastosFijos()" })
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.TasaDiaria, new { @class = Bootstrap.label, style = "width:150px;text-align: left" })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.TasaDiaria, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01", onblur = "CalcularDemoraPosible()" })
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.DemoraPosible, new { @class = Bootstrap.label, style = "width:150px;text-align: left" })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.DemoraPosible, new { @class = Bootstrap.input, type = "number", @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.IncidenciaGasto, new { @class = Bootstrap.label, style = "width:150px;text-align: left" })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.IncidenciaGasto, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01", @readonly = "readonly" })
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.IncidenciaInteres, new { @class = Bootstrap.label, style = "width:150px;text-align: left" })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.IncidenciaInteres, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01", @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.TotalAforo, new { @class = Bootstrap.label, style = "width:150px;text-align: left" })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-addon">*</span>
                                            @Html.TextBoxFor(model => model.TotalAforo, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01", @readonly = "readonly" })
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">Ficha</div>
                        <div class="panel-body">

                            <div class="row">

                                <div class="@Bootstrap.formgroup">

                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.SaldoInicial)
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            @Html.TextBoxFor(model => model.SaldoInicial, new { @class = Bootstrap.input, @readonly = "readonly" })
                                        </div>
                                    </div>



                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.Intereses, new { @class = "col-form-label" })
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group m-bot15">
                                            @Html.TextBoxFor(model => model.Intereses, new { @class = Bootstrap.input, @readonly = "readonly" })
                                        </div>
                                    </div>


                                </div>

                            </div>

                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.GastoCesion)
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="input-group m-bot15">
                                            @Html.TextBoxFor(model => model.GastoCesion, new { @class = Bootstrap.input, @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.GastoOtorga)
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="input-group m-bot15">
                                            @Html.TextBoxFor(model => model.GastoOtorga, new { @class = Bootstrap.input, @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.Impuestos)
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="input-group m-bot15">
                                            @Html.TextBoxFor(model => model.Impuestos, new { @class = Bootstrap.input, @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.Iva)
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="input-group m-bot15">
                                            @Html.TextBoxFor(model => model.Iva, new { @class = Bootstrap.input, @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.Ivainteres)
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="input-group m-bot15">
                                            @Html.TextBoxFor(model => model.Ivainteres, new { @class = Bootstrap.input, @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.Ivagasto)
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="input-group m-bot15">
                                            @Html.TextBoxFor(model => model.Ivagasto, new { @class = Bootstrap.input, @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="@Bootstrap.formgroup">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.Garantia1)
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="input-group m-bot15">
                                            @Html.TextBoxFor(model => model.Garantia1, new { @class = Bootstrap.input, @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.Garantia2)
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="input-group m-bot15">
                                            @Html.TextBoxFor(model => model.Garantia2, new { @class = Bootstrap.input, @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(model => model.Garantia3)
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="input-group m-bot15">
                                            @Html.TextBoxFor(model => model.Garantia3, new { @class = Bootstrap.input, @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <hr />
            <div class="@Bootstrap.formgroup">
                <div class="col-lg-offset-3 col-lg-6">
                    <button class="btn btn-primary" type="submit" id="btnSave">@Resource.Save</button>
                    <button class="btn btn-default" type="button" onclick="@(!ViewBag.PopUp ? ("window.location = '"+Url.Action("Index")+"';") : "cancelPopUp()")">@Resource.Cancel</button>
                </div>
            </div>
        </div>
}
            @*}*@
        </div>
</section>

