﻿@{
    ViewBag.Title = "Operaciones de Factoring";

    //var create = CustomMembership.HasPermission("Cliente", (int)Enumerations.Permission.Create);
    //var edit = CustomMembership.HasPermission("Cliente", (int)Enumerations.Permission.Edit);
    //var delete = CustomMembership.HasPermission("Cliente", (int)Enumerations.Permission.Delete);
    var create = true;
    var edit = true;
    var delete = true;
}

@section HeadSection{
    @Styles.Render(Constant.Bundle.CSS_SyncfusionAll)

    <style>
        .btn-sm, .btn-group-sm > .btn {
            padding: 5px 10px;
            font-size: 8px !important;
            line-height: 1.5;
            border-radius: 3px;
        }
    </style>

}

@section ScriptSection{
    @Scripts.Render(Constant.Bundle.Script_SyncfusionAll)

    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/FacturaOperacion/list.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Site/Reporte/report.js")"></script>
}

@Html.Partial("_ColumnCommandGridFacturaOperacion", new ConfigStandarCommand
{
    UrlEdit = (edit ? Url.Action("ABMFacturaOperacion") + "/{{:IdFacturaOperacion}}" : ""),
    ActionDelete = (delete ? "Delete" : ""),
    ControllerDelete = (delete ? "FacturaOperacion" : ""),
    IdDelete = (delete ? "IdFacturaOperacion" : ""),
    ButtonFilter = "btnSearch",
    IdEstadoOperacion = "IdFacturaEstado"
})

<script type="text/x-jsrender" id="template-redirect">
    <div class="btn-group">
        <button class="btn btn-danger btn-sm" onclick="EliminarDesembolso('{{:IdFacturaDesembolso}}')" title="Eliminar">
            <span class="fa fa-ban"></span>
        </button>

    </div>
</script>

<script type="text/x-jsrender" id="template-redirect-cobro">
    <div class="btn-group">
        <button class="btn btn-danger btn-sm" onclick="EliminarCobro('{{:IdFacturaCobro}}')" title="Eliminar">
            <span class="fa fa-ban"></span>
        </button>

    </div>
</script>

<script type="text/x-jsrender" id="template-redirect-tasa">
    <div class="btn-group">
        <button class="btn btn-danger btn-sm" onclick="EliminarTasa('{{:IdFacturaTasa}}')" title="Eliminar">
            <span class="fa fa-ban"></span>
        </button>

    </div>
</script>

<div class="panel">
    <div class="panel-heading">
        @ViewBag.Title
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
        @if (create)
        {
            <a role="button" class="btn btn-primary btn-primary-new" href="@Url.Action("ABMFacturaOperacion")">
                <span class="fa fa-file-o"></span>
                &nbsp; @Resource.Create Operación
            </a>
        }
    </div>
    <div class="panel-body" style="display: none;">
        <div>
            <div class="@Bootstrap.formgroup col-sm-1">
                @Html.Label("", "Factura")
            </div>
            <div class="@Bootstrap.formgroup col-sm-2">
                @Html.TextBox("txtFacturaNumero", "", new { @class = Bootstrap.input })
            </div>
            <div class="@Bootstrap.formgroup col-sm-1">
                @Html.Label("", "Clientes")
            </div>
            <div class="@Bootstrap.formgroup col-sm-2">
                @Html.DropDownList("ddlCliente", new SelectList(ViewBag.Clientes, "Value", "Text"), new { @class = Bootstrap.input })
            </div>

            <div class="@Bootstrap.formgroup col-sm-1">
                @Html.Label("", "Deudor")
            </div>
            <div class="@Bootstrap.formgroup col-sm-2">
                @Html.DropDownList("ddlDeudor", new SelectList(ViewBag.Deudos, "Value", "Text"), new { @class = Bootstrap.input })
            </div>
            <div class="@Bootstrap.formgroup col-sm-1">
                @Html.Label("", "Estado")
            </div>
            <div class="@Bootstrap.formgroup col-sm-2">
                @Html.DropDownList("ddlEstado", new SelectList(ViewBag.Estados, "Value", "Text"), new { @class = Bootstrap.input })
            </div>
        </div>
        <div>
            <button id="btnSearch" type="button" class="btn btn-primary" data-loading-text="@Resource.Searching">
                <span class="fa fa-search"></span>
                &nbsp; @Resource.Search
            </button>
            <button id="btnRestore" type="button" class="btn btn-warning">
                <span class="fa fa-repeat"></span>
                &nbsp; @Resource.Restore
            </button>
        </div>
    </div>
</div>

@(Html.EJ().Grid<Cliente>("facturaoperacionGrid")
                        .Datasource(d => d.URL(Url.Action("GetFacturaOperaciones")))
                        .AllowPaging()
                        .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
                        .Columns(col =>
                        {
                            col.Field("IdFacturaOperacion").HeaderText("Id").IsPrimaryKey(true).Visible(false).Width(1).Add();
                            col.Field("NumeroFactura").HeaderText("N° Factura").TextAlign(TextAlign.Left).Width(2).Add();
                            col.Field("Cliente").HeaderText(Resource.Cliente).TextAlign(TextAlign.Left).Width(2).Add();
                            col.Field("Deudo").HeaderText("Deudo").TextAlign(TextAlign.Left).Width(2).Add();
                            col.Field("FechaFactura").HeaderText("F. Factura").TextAlign(TextAlign.Left).Width(2).Add();
                            col.Field("Monto").Format("{0:C2}").HeaderText("Monto").TextAlign(TextAlign.Left).Width(2).Add();
                            col.Field("FechaCobro").HeaderText("F. Cobro").TextAlign(TextAlign.Left).Width(2).Add();
                            col.Field("DesembolsoTotal").Format("{0:C2}").HeaderText("Des. Total").TextAlign(TextAlign.Left).Width(2).Add();
                            col.Field("DesembolsoSaldo").Format("{0:C2}").HeaderText("Des. Saldo").TextAlign(TextAlign.Left).Width(2).Add();
                            col.Field("CobroTotal").Format("{0:C2}").HeaderText("Cob. Total").TextAlign(TextAlign.Left).Width(2).Add();
                            col.Field("CobroSaldo").Format("{0:C2}").HeaderText("Cob. Saldo").TextAlign(TextAlign.Left).Width(2).Add();
                            col.Field("IdFacturaEstado").Visible(false).HeaderText("Estado").TextAlign(TextAlign.Left).Width(2).Add(); 
                            col.HeaderText("")
                                .Template(true)
                                .TemplateID("#" + Constant.Partial.IDStandarTemplateCommand)
                                .TextAlign(TextAlign.Center).Width(2).Add();
                        }).ClientSideEvents(eve => eve.QueryCellInfo("queryCellInfo"))
)
<div id="operacionInfo"
     data-search-url="@Url.Action("GetFacturaOperaciones")"
     data-guardardesembolso-url="@Url.Action("GenerarDesembolso")"
     data-guardarcobro-url="@Url.Action("GenerarCobro")"
     data-getdesembolso-url="@Url.Action("GetFacturaOperacionesDesembolso")"
     data-getcobro-url="@Url.Action("GetFacturaOperacionesCobro")"
     data-getfile-url="@Url.Action("GetFactura")"
     data-print-url="@Url.Action("GetComprobante")"
     data-printaprobado-url="@Url.Action("GetComprobanteAprobado")"
     data-printterminado-url="@Url.Action("GetComprobanteTerminado")"
     data-guardartasa-url="@Url.Action("GenerarTasa")"
     data-gettasas-url="@Url.Action("GetFacturaOperacionesTasas")"
     data-getoperaciones-url="@Url.Action("GetFacturaMovimientoSaldo")"
     
     data-eliminardesembolso-url="@Url.Action("EliminarDesembolso")"
     data-eliminarcobro-url="@Url.Action("EliminarCobro")"
     data-eliminartasa-url="@Url.Action("EliminarTasa")"
     >
</div>


<div id="divDownloadFileFrame" style="visibility:hidden"></div>



<div id="ModalVerDesembolso" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ver Desembolsos</h4>
            </div>
            <div class="modal-body">
                @(Html.EJ().Grid<Cliente>
                                ("desembolsoGrid")
                                .Datasource(d => d.URL(Url.Action("GetFacturaOperacionesDesembolso")))
                                .AllowPaging()
                                .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
                                .Columns(col =>
                                {
                                    col.Field("IdFacturaDesembolso").TextAlign(TextAlign.Left).Width(2).Add();
                                    col.Field("Fecha").Format("{0:dd/MM/yyyy}").HeaderText("Fecha").TextAlign(TextAlign.Left).Width(2).Add();
                                    col.Field("Monto").Format("{0:C2}").HeaderText("Importe").TextAlign(TextAlign.Left).Width(2).Add();
                                    col.HeaderText("")
                                    .Template(true)
                                    .TemplateID("#template-redirect")
                                    .TextAlign(TextAlign.Center).Width(2).Add();
                                })
                )
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="ModalVerCobros" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ver Cobros</h4>
            </div>
            <div class="modal-body">
                @(Html.EJ().Grid<Cliente>("cobroGrid")
                                          .Datasource(d => d.URL(Url.Action("GetFacturaOperacionesCobro")))
                                          .AllowPaging()
                                          .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
                                          .Columns(col =>
                                          {
                                              col.Field("Fecha").Format("{0:dd/MM/yyyy}").HeaderText("Fecha").TextAlign(TextAlign.Left).Width(2).Add();
                                              col.Field("Monto").Format("{0:C2}").HeaderText("Importe").TextAlign(TextAlign.Left).Width(2).Add();
                                              col.HeaderText("")
                                                 .Template(true)
                                                 .TemplateID("#template-redirect-cobro")
                                                 .TextAlign(TextAlign.Center).Width(2).Add();
                                          })


                )
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

<div id="ModalVerTasas" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ver Tasas</h4>
            </div>
            <div class="modal-body">
                @(Html.EJ().Grid<Cliente>("tasaGrid")
                                                  .Datasource(d => d.URL(Url.Action("GetFacturaOperacionesTasas")))
                                                  .AllowPaging()
                                                  .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
                                                  .Columns(col =>
                                                  {
                                                      col.Field("Fecha").Format("{0:dd/MM/yyyy}").HeaderText("Fecha").TextAlign(TextAlign.Left).Width(2).Add();
                                                      col.Field("Tasa").Format("{0:C2}").HeaderText("Importe").TextAlign(TextAlign.Left).Width(2).Add();
                                                      col.HeaderText("")
                                                                .Template(true)
                                                                .TemplateID("#template-redirect-tasa")
                                                                .TextAlign(TextAlign.Center).Width(2).Add();
                                                  })
                )
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

<div id="ModalVerAvances" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ver Operaciones</h4>
            </div>
            <div class="modal-body">
                @(Html.EJ().Grid<Cliente>("OperacionGrid")
                                                          .Datasource(d => d.URL(Url.Action("GetFacturaMovimientoSaldo")))
                                                          .AllowPaging()
                                                          .PageSettings(page => { page.PageSize(Constant.Grid.PageSize); })
                                                          .Columns(col =>
                                                          {
                                                              col.Field("Fecha").Format("{0:dd/MM/yyyy}").HeaderText("Fecha").TextAlign(TextAlign.Left).Width(2).Add();
                                                              col.Field("TipoMovimiento").HeaderText("Tipo").TextAlign(TextAlign.Left).Width(2).Add();
                                                              col.Field("Saldo").Format("{0:C2}").HeaderText("Saldo").TextAlign(TextAlign.Left).Width(2).Add();
                                                              col.Field("Tasa").HeaderText("Tasa").TextAlign(TextAlign.Left).Width(2).Add();                                                             
                                                          })
                )
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>


<div id="ModalCargarDesembolso" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cargar Desembolso</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="email">Fecha:</label>
                        @Html.TextBox("FechaDesembolso", DateTime.Now, "{0:dd/MM/yyyy}", new { @class = Bootstrap.input })
                    </div>
                    <div class="form-group">
                        <label for="pwd">Importe:</label>
                        @Html.TextBox("ImporteDesembolso", "0.00", new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01" })
                    </div>
                    <input type="hidden" id="IdFacturaOperacionDesembolso" />
                    <button type="button" class="btn btn-default" onclick="GuardarDesembolso();">Guardar</button>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>


<div id="ModalCargarCobros" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cargar Cobros</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="email">Fecha:</label>
                        @Html.TextBox("FechaCobro", DateTime.Now, "{0:dd/MM/yyyy}", new { @class = Bootstrap.input })
                    </div>
                    <div class="form-group">
                        <label for="pwd">Importe:</label>
                        @Html.TextBox("ImporteCobro", "0.00", new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01" })
                    </div>
                    <input type="hidden" id="IdFacturaOperacionCobro" />
                    <button type="button" class="btn btn-default" onclick="GuardarCobro()">Guardar</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>


<div id="ModalCargarTasas" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cargar Tasa</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="email">Fecha:</label>
                        @Html.TextBox("FechaTasa", DateTime.Now, "{0:dd/MM/yyyy}", new { @class = Bootstrap.input })
                    </div>
                    <div class="form-group">
                        <label for="pwd">Importe:</label>
                        @Html.TextBox("ImporteTasa", "0.00", new { @class = Bootstrap.input, type = "number", min = "0", step = "0.01" })
                    </div>
                    <input type="hidden" id="IdFacturaOperacionCobro" />
                    <button type="button" class="btn btn-default" onclick="GuardarTasa()">Guardar</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>