﻿@model Inversor

@{
    ViewBag.Title = string.Format(Resource.ABMTitle, Resource.Inversores);
    ViewBag.PopUp = ViewData["PopUp"];
}

<section class="panel">
    @if (!ViewBag.PopUp)
    {
        <header class="panel-heading">
            @ViewBag.Title
        </header>
    }
    <div class="panel-body">
        @using (Ajax.BeginForm("ABMInversor", "Inversor",null, new AjaxOptions
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnBegin = Constant.Ajax.JsOnBeginAjax,
            OnSuccess = !ViewBag.PopUp ? Constant.Ajax.JsOnSuccessAjax : "successPopUp"
        },
                            new { @class = "cmxform form-horizontal", id = "form-inversor", autocomplete = "off", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.IdInversor, new { id = "idInversorHidden"})
            
        <div class="form">
            <div class="@Bootstrap.formgroup">
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.Nombre, new { @class = Bootstrap.label })
                </div>
                <div class="col-lg-4">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">*</span>
                        @Html.TextBoxFor(model => model.Nombre, new { @class = Bootstrap.input })
                    </div>
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>

                <div class="col-lg-2">
                    @Html.LabelFor(model => model.CUIT, new { @class = Bootstrap.label })
                </div>
                <div class="col-lg-4">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">*</span>
                        @Html.TextBoxFor(model => model.CUIT, new { @class = Bootstrap.input })
                    </div>
                    @Html.ValidationMessageFor(model => model.CUIT)
                </div>
            </div>

            <div class="@Bootstrap.formgroup">
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.Alias, new { @class = Bootstrap.label })
                </div>
                <div class="col-lg-4">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">*</span>
                        @Html.TextBoxFor(model => model.Alias, new { @class = Bootstrap.input })
                    </div>
                    @Html.ValidationMessageFor(model => model.Alias)
                </div>
            </div>

            <div class="@Bootstrap.formgroup">

                <div class="col-lg-2">
                    @Html.LabelFor(model => model.Domicilio, new { @class = Bootstrap.label })
                </div>

                <div class="col-lg-10">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">*</span>
                        @Html.TextAreaFor(model => model.Domicilio, new { rows = "2", @class = Bootstrap.input })
                    </div>
                    @Html.ValidationMessageFor(model => model.Domicilio)
                </div>
            </div>

            <div class="@Bootstrap.formgroup">
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.TelefonoFijo, new { @class = Bootstrap.label })
                </div>

                <div class="col-lg-4">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">*</span>
                        @Html.TextBoxFor(model => model.TelefonoFijo, new { @class = Bootstrap.input })
                    </div>
                    @Html.ValidationMessageFor(model => model.TelefonoFijo)
                </div>

                <div class="col-lg-2">
                    @Html.LabelFor(model => model.TelefonoMovil, new { @class = Bootstrap.label })
                </div>

                <div class="col-lg-4">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">*</span>
                        @Html.TextBoxFor(model => model.TelefonoMovil, new { @class = Bootstrap.input })
                    </div>
                    @Html.ValidationMessageFor(model => model.TelefonoMovil)
                </div>

            </div>


            <div class="@Bootstrap.formgroup">
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.Email, new { @class = Bootstrap.label })
                </div>

                <div class="col-lg-4">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">*</span>
                        @Html.TextBoxFor(model => model.Email, new { @class = Bootstrap.input })
                    </div>
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.ClasificacionInversor, new { @class = Bootstrap.label })
                </div>
                <div class="col-lg-4">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">*</span>
                        @Html.DropDownListFor(model => model.ClasificacionInversor, ViewBag.ClasificacionInversor as IEnumerable<SelectListItem>, string.Empty, new { @class = Bootstrap.input })
                    </div>
                    @Html.ValidationMessageFor(model => model.ClasificacionInversor)
                </div>
            </div>



            <div class="@Bootstrap.formgroup">
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.Tasa, new { @class = Bootstrap.label })
                </div>
                <div class="col-lg-4">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">%</span>
                        @Html.TextBoxFor(model => model.Tasa, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.0001" })
                    </div>

                </div>
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.TasaUSD, new { @class = Bootstrap.label })
                </div>
                <div class="col-lg-4">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">%</span>
                        @Html.TextBoxFor(model => model.TasaUSD, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.0001" })
                    </div>

                </div>
            </div>



            <div class="@Bootstrap.formgroup">
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.TasaMora, new { @class = Bootstrap.label })
                </div>
                <div class="col-lg-4">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">%</span>
                        @Html.TextBoxFor(model => model.TasaMora, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.0001" })
                    </div>

                </div>
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.TasaMoraUSD, new { @class = Bootstrap.label })
                </div>
                <div class="col-lg-4">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">%</span>
                        @Html.TextBoxFor(model => model.TasaMoraUSD, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.0001" })
                    </div>

                </div>
            </div>





            <div class="@Bootstrap.formgroup">
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.LimiteDescubierto, new { @class = Bootstrap.label })
                </div>


                <div class="col-lg-4">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">*</span>
                        @Html.TextBoxFor(model => model.LimiteDescubierto, new { @class = Bootstrap.input })
                    </div>
                    @Html.ValidationMessageFor(model => model.LimiteDescubierto)
                </div>
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.LimiteDescubiertoUSD, new { @class = Bootstrap.label })
                </div>
                <div class="col-lg-4">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">*</span>
                        @Html.TextBoxFor(model => model.LimiteDescubiertoUSD, new { @class = Bootstrap.input })
                    </div>
                    @Html.ValidationMessageFor(model => model.LimiteDescubiertoUSD)
                </div>
            </div>



            <div class="@Bootstrap.formgroup">

                <div class="col-lg-2">
                    @Html.LabelFor(model => model.PorcentajeBalanceGarantiaOperativo, new { @class = Bootstrap.label })
                </div>

                <div class="col-lg-4">
                    <div class="input-group m-bot15">
                        <span class="input-group-addon">%</span>
                        @Html.TextBoxFor(model => model.PorcentajeBalanceGarantiaOperativo, new { @class = Bootstrap.input, type = "number", min = "0", step = "0.0001" })
                    </div>
                </div>

                <div class="col-lg-2">
                    @Html.LabelFor(model => model.EnvioMail, new { @class = Bootstrap.label })
                </div>
                <div class="col-lg-4">
                    <div class="input-group m-bot15">
                        @Html.CheckBoxFor(model => model.EnvioMail)
                    </div>

                </div>
            </div>


            <div class="row">
                <label class="col-lg-2 col-sm-2 control-label">
                    Contrato
                </label>
                <div class="col-lg-4">
                    <input type="file" id="fileAcordada" name="fileAcordada" />

                </div>
            </div>
            


            <div class="@Bootstrap.formgroup">
                <div class="col-lg-offset-3 col-lg-6">
                    <b>
                        <label class="error-label" id="@Constant.SuccessMessages.ERROR_VAR"></label>
                    </b>
                </div>
            </div>
            <input type="hidden" id="popUp" name="popUp" value="@(ViewBag.PopUp.ToString())" />
            <hr />
            <div class="@Bootstrap.formgroup">
                <div class="col-lg-offset-3 col-lg-6">
                    <button class="btn btn-primary" type="submit" id="btnSave">@Resource.Save</button>
                    <button class="btn btn-default" type="button" onclick="@(!ViewBag.PopUp ? ("window.location = '"+Url.Action("Index")+"';") : "cancelPopUp()")">@Resource.Cancel</button>
                </div>
            </div>

            @Html.HiddenFor(model => model.ClasificacionInversor, new { id = "idClasificacionInversor" })
        </div>
        }
    </div>
</section>
<script>

    var idInversor = $('#idInversorHidden').val();
    if (idInversor !== "0") {
        var selectedValue = $('#idClasificacionInversor').val();
        $('#ClasificacionInversor').val(selectedValue);
        $('#ClasificacionInversor').prop('disabled', true);
    }

</script>
