﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["ErrorType"]</title>

    <meta name="viewport" content="width=device-width" />

    @Styles.Render(Constant.Bundle.CSS_BootstrapAll)
    @Styles.Render(Constant.Bundle.CSS_Template)

    @Scripts.Render(Constant.Bundle.Script_JQueryAll)
    @Scripts.Render(Constant.Bundle.Script_Bootstrap)
    @Scripts.Render(Constant.Bundle.Script_TemplateAll)
    @Scripts.Render(Constant.Bundle.Script_Site)
</head>
<body>
	<div class="container">
		<form role="form" class="form-signin">
			<h2 class="form-signin-heading error">
				@ViewData["ErrorType"]
			</h2>
			<br />
			<label class="error">
				@ViewData["Message"]
			</label>
			<br />
			<br />
			@if ((bool)ViewData["redirectBtn"])
			{
				<button type="button" class="btn btn-lg btn-primary btn-block" onclick="window.location.href = '@ViewData["UrlRedirect"]';">
					@string.Format("Ir a ", ViewData["BtnGoToLabel"])
				</button>
			}
		</form>
    </div>
</body>
</html>